<!doctype html>
<html lang="en">

<head></head>

<body>
	<p>
		Your account is now activated. Redirecting to home page to login in 
		<span id="countdowntimer">5 </span> Seconds.
	</p>

    <script>
		var timeleft = 5;
	    var downloadTimer = setInterval(function(){
		    timeleft--;
		    document.getElementById("countdowntimer").textContent = timeleft;
		    if(timeleft <= 0) {
		        clearInterval(downloadTimer);
		        window.location = "/";
		    }
	    },500);
    </script>
</body>

</html>

{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
