{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}
<p>{% trans "Account activation failed." %}</p>
<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">
				Oh no!
			</div>
			<div style="padding-top:30px" class="panel-body">
				There was a problem activating your account.
				Please contact our admin at <a href="mailto:twohourbinhyen@gmail.com">twohourbinhyen@gmail.com</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
