{% extends 'base.html' %}

{% load static %}

			{% block content %}
			<section class="breadcrumb-area" style="background-image:url({% static 'ultimatefitbackend/images/background/2.jpg' %});">
			    <div class="container">
			        <div class="row">
			            <div class="col-md-12">
			                <div class="breadcrumbs text-center">
			                    <h1>about us</h1>
			                    <h4>Welcome to certified online organic products suppliersr</h4>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="breadcrumb-bottom-area">
				    <div class="container">
				        <div class="row">
				            <div class="col-lg-8 col-md-5 col-sm-5">
				                <ul>
				                    <li><a href="#">Home</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li><a href="#">Gallery</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li>about us</li> 
				                </ul>
				            </div>
				            <div class="col-lg-4 col-md-7 col-sm-7">
				                <p>We provide <span>100% organic</span> products</p>
				            </div>
				        </div>
				    </div>
				</div>
			    
			</section>

			<section class="about-story">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<figure class="img-holder">
								<img src="{% static 'ultimatefitbackend/images/about/3.jpg' %}" alt="">
							</figure>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="about-text">
								<div class="theme_title">
									<h3>story about us</h3>
								</div>
								<div class="about_quot">
									Our food should be our medicine,Our medicine organics
									should be our food your health.
								</div>
								<div class="text"><p>How all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness</p></div>
								<div class="icon-box">
									<div class="single-item">
										<div class="icon"><i class="icon-wheat"></i></div>
										<div class="count">745+</div>
										<div class="name color1">Own Farm Houses</div>
									</div>
									<div class="single-item">
										<div class="icon"><i class="icon-nature-1"></i></div>
										<div class="count">2480+</div>
										<div class="name color1">Pastoral Farmers</div>
									</div>
								

								</div>
								<div class="text">
									<p>Denouncing pleasure and praising pain was born and I will give you a complete account of the system, the actual teachings of the great explorer.</p>
								</div>
								<div class="link">
									<a href="#" class="tran3s">read more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="three-column">
				<div class="contaner-fluid">
					<div class="row">
						<div class="col-md-4 col-sm-12 col-xs-12 color1_bg text-center">
							<div class="single-item ">
								<h5>Organic meat Food</h5>
								<div class="icon"><i class="icon-chicken"></i></div>
								<p>
								We will give you a complete account of the system, and expound the actual <br>teachings of the great explorer of the truth, the master-builder of <br> human complete happiness.</p>
								<div class="link"><a href="#">Shop Now</a></div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12 color1_bg text-center">
							<div class="single-item ">
								<h5>Organic Vegetables</h5>
								<div class="icon"><i class="icon-nature"></i></div>
								<p>
								We will give you a complete account of the system, and expound the actual <br>teachings of the great explorer of the truth, the master-builder of <br> human complete happiness.</p>
								<div class="link"><a href="#">Shop Now</a></div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12 color1_bg text-center">
							<div class="single-item ">
								<h5>Organic Fruits</h5>
								<div class="icon"><i class="icon-food"></i></div>
								<p>
								We will give you a complete account of the system, and expound the actual <br>teachings of the great explorer of the truth, the master-builder of <br> human complete happiness.</p>
								<div class="link"><a href="#">Shop Now</a></div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<section class="four-column">
				<div class="container text-center">
					<div class="theme_title center">
						<h3>Delivery Process</h3>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12 text-center">
							<div class="single-item ">
								<div class="inner-box"><div class="icon"><i class="icon-business"></i><span>1</span></div></div>
								
								<h5>Customer Order</h5>
								<p>
								<p>
								Organicstore.com’s customers order is <br>captured by warehouse API..
								</p>
								
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 text-center">
							<div class="single-item ">
								<div class="inner-box"><div class="icon"><i class="rot icon-nature-1"></i><span>1</span></div></div>
								<h5>Packing</h5>
								<p>
								<p>
								Organicstore.com’s customers order is <br>captured by warehouse API..
								</p>
								
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 text-center">
							<div class="single-item ">
								<div class="inner-box"><div class="icon"><i class="rot icon-transport"></i><span>1</span></div></div>
								<h5>Delivery</h5>
								<p>
								Organicstore.com’s customers order is <br>captured by warehouse API..
								</p>
								
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center">
							<div class="single-item ">
								<div class="inner-box"><div class="icon"><i class="rot icon-check"></i><span>1</span></div></div>
								<h5>Reporting</h5>
								<p>
								Organicstore.com’s customers order is <br>captured by warehouse API..
								</p>
								
							</div>
						</div>


					</div>
					<div class="link"><a href="#" class="rot tran3s color1_bg">Shop products</a></div>
				</div>
			</section>

			

			<section class="gallery gallery-grid about-gallery" style="background-image:url({% static 'ultimatefitbackend/images/background/3.jpg' %});">
			    <div class="tab-links">
			        <div class="container">
			        	<div class="iblock">
			        		<div class="theme_title text-left">
				                <h2>Our gallery</h2>
				            </div>
			        	</div>
			            
			            <ul class="tab-list">
			                <li><a href="#Vegetables" class="tab-btn active"><h2><i class="icon-food-2"></i>Vegetables</h2></a></li>
			                <li><a href="#Fruits" class="tab-btn"><h2><i class="icon-fruit"></i>Fruits & Drinks</h2></a></li>
			                <li><a href="#Fresh" class="tab-btn"><h2><i class="icon-food-1"></i>Fresh Meat</h2></a></li>
			                <li><a href="#Beauty" class="tab-btn"><h2><i class="icon-cream"></i>Beauty Care</h2></a></li>
			            </ul>
			            <div class="link-btn"><a href="#" class="tran3s">VIEW MORE<span class="fa fa-sort-desc"></span></a></div>
			        </div>
			    </div>
			                    <!--tab Content-->
			    <div class="tab-content">
			        
			        <div class="container-fluid">
			            <!--tab Details / Collapsed-->
			            <div class="item collapsed" id="Vegetables">
			                <div class="row-10">
						            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/30.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/30.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/31.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/31.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/32.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/32.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/33.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/33.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/34.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/34.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
   
					        </div>
			            </div>  

			            <!--tab Details-->
			            <div class="item" id="Fruits">
			                <div class="row-10">
						            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/30.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/30.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/31.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/31.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/32.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/32.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/33.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/33.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/34.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/34.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
   
					        </div>
			            </div> 
			            <!--tab Details-->
			            <div class="item" id="Fresh">
			                <div class="row-10">
						            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/30.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/30.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/31.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/31.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/32.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/32.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/33.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/33.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/34.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/34.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
   
					        </div>
			            </div> 
			            <!--tab Details-->
			            <div class="item" id="Beauty">
			                <div class="row-10">
						            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/30.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/30.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/31.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/31.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/32.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/32.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/33.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/33.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-2 column-2 col-sm-6 col-xs-12 default-item">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/gallery/34.jpg' %}" alt=""></figure>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="image-view">
						                                <div class="icon-holder">
						                                    <a href="{% static 'ultimatefitbackend/images/gallery/34.jpg' %}" class="fancybox"><span class="icon-magnifier"></span></a>
						                                </div>
						                            </div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">Coffee Break Cake</a></h4>
						                        		<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
						                        		<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
   
					        </div>
			            </div> 

			        </div>

			    </div>

			</section>


			<section class="award">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="award-info">
								<div class="theme_title">
									<h2>Awards & Recognition</h2>
								</div>
							</div>
							<div class="text">
								<p>How to pursue pleasure rationally encounter consequences that are extremely painful Nor again is there anyone who loves or pursues or desires to obtain pain of because it is pain, but because occasionally circumstances occur in some great.</p>
							</div>
							<div class="award-logo">
								<ul>
									<li><img src="{% static 'ultimatefitbackend/images/partner-logo/5.png' %}" alt=""></li>
									<li><img src="{% static 'ultimatefitbackend/images/partner-logo/6.png' %}" alt=""></li>
									<li><img src="{% static 'ultimatefitbackend/images/partner-logo/7.png' %}" alt=""></li>
									<li><img src="{% static 'ultimatefitbackend/images/partner-logo/8.png' %}" alt=""></li>
								</ul>
							</div>
							<div class="customer-text">
								<p><b>Customer Support:</b>  If you have any doubt about ConsultPress WordPress or how we can support your business, Send us an <span>email</span> and we’ll get in touch shortly, or Contact via <span>Support Forum.</span></p>
								<p><b>Office Hours :</b> 07:30 and 19:00 Monday to Saturday,<span>Sunday - Holiday</span></p>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="contact_in-box">
				                <div class="theme-title ">
				                    <h2>send us massege</h2>
				                </div>
				                <form action="inc/sendmail.php">
				                	<div class="row">
					                    <div class="col-md-6">
					                        <input type="text" placeholder="Your Name*">
					                    </div>
					                    <!-- /.col-md-6 -->
					                    <div class="col-md-6">
					                        <input type="text" placeholder="Your Email*">
					                    </div>
					                    <!-- /.col-md-6 -->
					                    <div class="col-md-6">
					                        <input type="text" placeholder="Phone">
					                    </div>
					                    <!-- /.col-md-6 -->
					                    <div class="col-md-6">
					                        <input type="text" placeholder="Subject">
					                    </div>
					                    <!-- /.col-md-6 -->

					                    <div class="col-md-12">
					                        <textarea placeholder="Comments"></textarea>
					                    </div>
					                    <!-- /.col-md-12 -->
					                    <div class="col-md-12">
					                        <button type="submit" class="color1_bg">Post Comment</button>
					                    </div>
					                    <!-- /.col-md-12 -->
					                </div>
					                <!-- /.row -->
				                </form>
					                
				            </div>
						</div>
					</div>
				</div>
			</section>
			<section class="call-out">
			    <div class="container">
			        <div class="float_left">
			            <h2>Subscribe For Newsletter</h2>
			            <p>We send you latest news couple a month ( No Spam).</p>
			        </div>
			        <div class="float_right">
			        	<div class="contact-box">

		                    <form method="post" action="sendemail.php" class="contact-form" novalidate="novalidate">
		                            
		                        <div class="row clearfix">
		                            <div class="form-group">
		                                <input type="text" name="username" value="" placeholder="Your Name*"><i class="fa fa-user" aria-hidden="true"></i>

		                            </div>

		                            <div class="form-group">
		                                <input type="email" name="username" value="" placeholder="Email Address*"><i class="fa fa-envelope" aria-hidden="true"></i>
		                            </div>
		                           

		                            <div class="form-group">
		                                <button type="submit" name="submit" class="btn-style-one center">Submit now</button>
		                            </div>
		                        </div>
		                    </form>
		                </div>
			        </div>
			    </div>
			</section>
			{% endblock %}