{% extends 'base.html' %}

{% load static %}
{% load i18n %}


		{% block content %}
			<style>
				.register_form hr {
					border-color: #dfdfdf;
				}
				a.edit-field-link {
					cursor: pointer;
					font-weight: 600;
					margin-top: 0 !important;
				}
				a.edit-field-link:hover {
					text-decoration: underline;
				}
				.cancel-update-field, .update-info-field {
					font-weight: 600;
					line-height: 30px !important;
					text-transform: capitalize !important;
					float: left;
					margin-top: 0 !important;
					border: 1px solid #dfdfdf;
				}
				.cancel-update-field {
					width: 25% !important;
					color: #272727 !important;
				}
				.cancel-update-field:hover {
					color: #fff !important;
				}

				.update-info-field {
					width: 25% !important;
					margin-left: 10px;
				}

				form.form-update-field {
					margin-top: 10px !important; 
					padding-bottom: 60px !important;
				}
				form.form-update-field input {
					height: 50px !important;
					border-color: #dfdfdf !important;
				}

				.edit-form {
					display: none;
				}

				.field-required {
					display: none;
				}
			</style>
			<section class="breadcrumb-area" style="background-image:url({% static 'ultimatefitbackend/images/background/2.jpg' %});">
			    <div class="container">
			        <div class="row">
			            <div class="col-md-12">
			                <div class="breadcrumbs text-center">
			                    <h1>Login / Register</h1>
			                    <h4>Welcome to certified online organic products suppliersr</h4>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="breadcrumb-bottom-area">
				    <div class="container">
				        <div class="row">
				            <div class="col-lg-8 col-md-5 col-sm-5">
				                <ul>
				                    <li><a href="#">Home</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li><a href="#">Gallery</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li>Login / Register</li> 
				                </ul>
				            </div>
				            <div class="col-lg-4 col-md-7 col-sm-7">
				                <p>We provide <span>100% organic</span> products</p>
				            </div>
				        </div>
				    </div>
				</div>
			</section>


			<!-- Account Page Content*********************** -->
			<div class="account_page">
	        	<div class="container">
	        		<div class="row">
	        			<!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 login_form">
	        				<div class="theme-title">
								<h2>Login Now</h2>
							</div>
	        				<form action="#">
	        					<div class="form_group">
	        						<label>Username or Email</label>
	        						<div class="input_group">
	        							<input type="text" placeholder="iamsteelthemes@gmail.com">
	        							<i class="fa fa-user" aria-hidden="true"></i>
	        						</div>
	        					</div>

	        					<div class="form_group">
	        						<label>Password</label>
	        						<div class="input_group">
	        							<input type="password" placeholder="********">
	        							<i class="fa fa-lock" aria-hidden="true"></i>
	        						</div>
	        					</div>

	        					<div class="clear_fix">
	        						<div class="single_checkbox float_left">
										<input type="checkbox" id="remember">
										<label for="remember">Remember me</label>
									</div>
									<a href="#" class="float_right">Forgot Password?</a>
	        					</div>
	        					<button class="color1_bg tran3s">Login now</button>
	        				</form>
	        			</div> -->

	        			<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 register_form">
	        				<div class="theme-title">
								<h2>Account Information</h2>
								<div style="color: grey; margin: 10px 0 30px 0;">
									My Account &nbsp;>&nbsp; Account Information
								</div>
							</div>

							<hr/>

							<div id='account-info-text'>
								<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 field-info">
									<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="font-weight: bold">
										Username:
									</div>
									<div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
										<span class="main-data-text">{{username}}</span>
										<span class="field-required">Field Required*</span>
									</div>
									<div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
										<a class="edit-field-link">Edit</a>
									</div>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 edit-form">
									<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
									<div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
										<form class="form-update-field" action="#">
											<div class="form_group">
												<div class="input_group">
													<input type="text" placeholder="Username" value="{{username}}">
													<i class="fa fa-user" aria-hidden="true"></i>
												</div>
											</div>
											<div id="username-error-msg"></div>
											<button class="cart_btn3 tran3s cancel-update-field">
												Cancel
											</button>
											<button class="cart_btn1 tran3s color1_bg update-info-field" id="update-username">
												Update Information
											</button>
										</form>
									</div>
								</div>

								<div style="clear: both;"></div>
								<hr/>

								<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 field-info">
									<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="font-weight: bold">
										Email:
									</div>
									<div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
										<span class="main-data-text">{{email}}</span>
										<span class="field-required">Field Required*</span>
									</div>
									<!-- <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
										<a class="edit-field-link">Edit</a>
									</div> -->
									
								</div>

								<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 edit-form">
									<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
									<div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
										<form class="form-update-field">
											<div class="form_group">
												<div class="input_group">
													<input type="email" placeholder="Email Address" value="{{email}}">
			        								<i class="fa fa-envelope-o" aria-hidden="true"></i>
												</div>
											</div>
											<div id="email-error-msg"></div>
											<button class="cart_btn3 tran3s cancel-update-field">
												Cancel
											</button>
											<button class="cart_btn1 tran3s color1_bg update-info-field" id="update-email">
												Update Information
											</button>
										</form>
									</div>
								</div>

								<div style="clear: both;"></div>
								<hr/>

								<!-- <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 field-info">
									<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="font-weight: bold">
										Phone Number:
									</div>
									<div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
										<span class="main-data-text">91228258</span>
										<span class="field-required">Field Required*</span>
									</div>
									<div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
										<a class="edit-field-link">Edit</a>
									</div>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 edit-form">
									<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
									<div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
										<form class="form-update-field">
											<div class="form_group">
												<div class="input_group">
													<input type="email" placeholder="Phone Number">
			        								<i class="fa fa-phone" aria-hidden="true"></i>
			        							</div>
											</div>
											<button class="cart_btn3 tran3s cancel-update-field">
												Cancel
											</button>
											<button class="cart_btn1 tran3s color1_bg update-info-field">
												Update Information
											</button>
										</form>
									</div>
								</div>

								<div style="clear: both;"></div>
								<hr/>-->

								<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 field-info">
									<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="font-weight: bold">
										Password:
									</div>
									<div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
										<input type="password" value="0123456789" id="myInput" readonly="readonly" style="border-color: transparent; font-size: 18px; margin-top: -5px;" class="main-data-text">
										<span class="field-required">Field Required*</span>
									</div>
									<div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
										<a class="edit-field-link">Edit</a>
									</div>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 edit-form">
									<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12"></div>
									<div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
										<form class="form-update-field">
											<div class="form_group">
												<div class="input_group">
													<input type="password" placeholder="Current Password*">
			        								<i class="fa fa-lock" aria-hidden="true"></i>
			        							</div>

												<div class="input_group">
													<input type="password" placeholder="New Password*">
			        								<i class="fa fa-lock" aria-hidden="true"></i>
			        							</div>
											</div>
											<div id="password-error-msg"></div>
											<button class="cart_btn3 tran3s cancel-update-field">
												Cancel
											</button>
											<button class="cart_btn1 tran3s color1_bg update-info-field" id="update-password">
												Update Information
											</button>
										</form>
									</div>
								</div>

							</div>
							<div style="clear: both;"></div>
							<hr/>

	        			</div> <!-- End of .register_form -->

	        		</div> <!-- End of .row -->
	        	</div> <!-- End of .container -->
			</div> <!-- End of .account_page -->

			<script type="text/javascript">
				function popUpInternetConnectionError() {
					$('.internet-connection-error').fadeIn(200);
					$('.internet-connection-error').delay(1500).fadeOut(200);
				};

				$(document).on("click", "a.edit-field-link", function() {
					$(this).parents(".field-info").find(".main-data-text").css("display", "none");
					$(this).parents(".field-info").find(".field-required").css("display", "block");
					$(this).parents(".field-info").find(".col-lg-1").css("display", "none");
					$(this).parents(".field-info").next(".edit-form").css("display", "block");
				});

				$(document).on("click", "button.cancel-update-field", function(e) {
					e.preventDefault();
					$(this).parents(".edit-form").css("display", "none");
					$(this).parents(".edit-form").prev(".field-info").find(".main-data-text").css("display", "block");
					$(this).parents(".edit-form").prev(".field-info").find(".field-required").css("display", "none");
					$(this).parents(".edit-form").prev(".field-info").find(".col-lg-1").css("display", "block");
					$(this).parents(".edit-form").prev(".field-info").find(".col-lg-1").css("display", "block");
				});

				// function registrationValidation() {
				// 	var inputRegistrationEmail = $("input#id_email").val();
				// 	var inputRegistrationPassword = $("input#id_password1").val();
				// 	var inputRegistrationPasswordConfirm = $("input#id_password2").val();

				// 	if (!ValidateEmail(inputRegistrationEmail)) {
				// 		$("#registration-error-message").append('<label style="color: red;">Invalid email! Please try to re-enter your email.</label>');
				// 		return false;
				// 	}

				// 	if (inputRegistrationPassword.length < 8) {
				// 		$("#registration-error-message").append('<label style="color: red;">Your password must have at least 8 characters.</label>');
				// 		return false;
				// 	}

				// 	if (inputRegistrationPassword != inputRegistrationPasswordConfirm) {
				// 		$("#registration-error-message").append('<label style="color: red;">Password confirmation does not match!</label>');
				// 		return false;
				// 	}

				// 	return true;
				// };

				$('input[placeholder="Username"]').focus(function(e) {
					$('#username-error-msg').empty();
				});
				$('input[placeholder="Email Address"]').focus(function(e) {
					$('#username-error-msg').empty();
				});
				$('input[placeholder="Current Password*"]').focus(function(e) {
					$('#password-error-msg').empty();
				});
				$('input[placeholder="New Password*"]').focus(function(e) {
					$('#password-error-msg').empty();
				});

				function usernameValidation() {
					var newUsername = $('input[placeholder="Username"]').val();

					if (newUsername.length < 6) {
						$('#username-error-msg').html('<label style="color: red;">Username must have at least 6 characters</label>');
						return false;
					}

					if (newUsername == "{{username}}") {
						$('#username-error-msg').html('<label style="color: red;">Username same as before.</label>');
						return false;
					}

					return true;
				}

				// How to verify it's an active email??
				function ValidateEmail(mail) {  
					var re = /[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}/igm;
					if (re.test(mail)) {
					    return true;
					} else {
					    return false;
					}  
				};
				function emailValidation() {
					var newEmail = $('input[placeholder="Email Address"]').val();

					if (!ValidateEmail(newEmail)) {
						$('#email-error-msg').html('<label style="color: red;">Invalid email format.</label>');
						return false;
					}

					if (newEmail == "{{email}}") {
						$('#email-error-msg').html('<label style="color: red;">Email same as before.</label>');
						return false;
					}

					return true;
				}

				function passwordValidation() {
					var currentPassword = $('input[placeholder="Current Password*"]').val();
					var newPassword = $('input[placeholder="New Password*"]').val();

					if (newPassword.length < 8) {
						$('#password-error-msg').html('<label style="color: red;">Password must be at least 8 characters.</label>');
						return false;
					}

					if (newPassword == currentPassword) {
						$('#password-error-msg').html('<label style="color: red;">New password must be different from old password.</label>');
						return false;
					}

					return true;
				};

				$(document).on("click", "button.update-info-field", function(e) {
					e.preventDefault();

					if ($(this).attr('id') == "update-username") {
						var newUsername = $('input[placeholder="Username"]').val();

						if (usernameValidation()) {
							$.post(
								"/account_change_username/",
								{ 
									csrfmiddlewaretoken: "{{ csrf_token }}",
									new_username: newUsername
								},
								function(data, status) {
									if (status == "success") {
										console.log(data, "success post");
										// $(document).scrollTop(400);
										location.reload();
									}
								}
							).fail(function(){
								popUpInternetConnectionError();
							});
						}
					} else if ($(this).attr('id') == "update-email") {
						var newEmail = $('input[placeholder="Email Address"]').val();

						if (emailValidation()) {
							$.post(
								"/account_change_email/",
								{ 
									csrfmiddlewaretoken: "{{ csrf_token }}",
									new_email: newEmail
								},
								function(data, status) {
									if (status == "success") {
										console.log(data, "success post");
										// $(document).scrollTop(400);
										location.reload();
									}
								}
							).fail(function(){
								popUpInternetConnectionError();
							});
						}
					} else if ($(this).attr('id') == "update-password") {
						var currentPassword = $('input[placeholder="Current Password*"]').val();
						var newPassword = $('input[placeholder="New Password*"]').val();

						if (passwordValidation()) {
							$.post(
								"/account_change_password/",
								{ 
									csrfmiddlewaretoken: "{{ csrf_token }}",
									current_password: currentPassword,
									new_password: newPassword
								},
								function(data, status) {
									if (status == "success") {
										console.log(data, "success post");
										// $(document).scrollTop(400);
										if (data && data.is_current_password_check_correct) {
											alert("You are logging out after reset password. Please login again!");
											location.reload();
										} else {
											$('#password-error-msg').html('<label style="color: red;">Wrong current password.</label>');
										}
									}
								}
							).fail(function(){
								popUpInternetConnectionError();
							});
						}
					}
				});

			</script>
		{% endblock %}