{% extends 'base.html' %}

{% load static %}
{% load i18n %}


		{% block content %}
			<style>
				.register_form hr {
					border-color: #dfdfdf;
				}
				.address-item {
					height: 300px;
					min-width: 250px;
					border: 1px solid #699401;
					border-radius: 10px;
				}
				.address-item-info-text {
					margin-top: 25px;
					float: left;
				}
				.address-item-info-text p {
					color: black !important;
					margin-top: -3px;
					min-width: 160px;
					word-wrap: break-word;
				}
				.address-item-info-text p.name-bold {
					font-weight: 650 !important;
				}
				.check-icon {
					background-color: #699401;
					width: 22px;
					border-radius: 20px;
					position: absolute;
					text-align: center;
					color: #fff;
					margin-top: 20px;
					margin-left: calc(100% - 50px);
				}
				.add-icon {
					background-color: #699401;
					width: 22px;
					border-radius: 20px;
					float: left;
					text-align: center;
					color: #fff;
					margin-top: 30px;
				}

				span.address-item-button {
					color: #004093 !important;
				}
				span.address-item-button:hover {
					text-decoration: underline;
					cursor: pointer;
				}

				.cancel-update-field, .update-info-field {
					font-weight: 600;
					line-height: 40px !important;
					text-transform: capitalize !important;
					float: left;
					margin-top: 0 !important;
					margin-bottom: 30px !important;
					border: 1px solid #dfdfdf;
				}
				.cancel-update-field {
					width: 25% !important;
					color: #272727 !important;
				}
				.cancel-update-field:hover {
					color: #fff !important;
				}

				.update-info-field {
					width: 25% !important;
					margin-left: 10px;
				}

				form#form-submit-account-info {
					display: none;
					padding-bottom: 70px !important;
				}
				.modify-address-title {
					font-weight: 600 !important;
					color: black !important;
					margin-bottom: 10px;
					margin-top: -10px;
				}

				.fa-circle {
					color: #699401;
					border-radius: 10px;
				}
			</style>
			<section class="breadcrumb-area" style="background-image:url({% static 'ultimatefitbackend/images/background/2.jpg' %});">
			    <div class="container">
			        <div class="row">
			            <div class="col-md-12">
			                <div class="breadcrumbs text-center">
			                    <h1>Login / Register</h1>
			                    <h4>Welcome to certified online organic products suppliersr</h4>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="breadcrumb-bottom-area">
				    <div class="container">
				        <div class="row">
				            <div class="col-lg-8 col-md-5 col-sm-5">
				                <ul>
				                    <li><a href="#">Home</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li><a href="#">Gallery</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li>Login / Register</li> 
				                </ul>
				            </div>
				            <div class="col-lg-4 col-md-7 col-sm-7">
				                <p>We provide <span>100% organic</span> products</p>
				            </div>
				        </div>
				    </div>
				</div>
			</section>


			<!-- Account Page Content*********************** -->
			<div class="account_page">
	        	<div class="container">
	        		<div class="row">
	        			<!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 login_form">
	        				<div class="theme-title">
								<h2>Login Now</h2>
							</div>
	        				<form action="#">
	        					<div class="form_group">
	        						<label>Username or Email</label>
	        						<div class="input_group">
	        							<input type="text" placeholder="iamsteelthemes@gmail.com">
	        							<i class="fa fa-user" aria-hidden="true"></i>
	        						</div>
	        					</div>

	        					<div class="form_group">
	        						<label>Password</label>
	        						<div class="input_group">
	        							<input type="password" placeholder="********">
	        							<i class="fa fa-lock" aria-hidden="true"></i>
	        						</div>
	        					</div>

	        					<div class="clear_fix">
	        						<div class="single_checkbox float_left">
										<input type="checkbox" id="remember">
										<label for="remember">Remember me</label>
									</div>
									<a href="#" class="float_right">Forgot Password?</a>
	        					</div>
	        					<button class="color1_bg tran3s">Login now</button>
	        				</form>
	        			</div> -->

	        			<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 register_form">
	        				<div class="theme-title">
								<h2>Address Book</h2>
								<div style="color: grey; margin: 10px 0 30px 0;">
									My Account &nbsp;>&nbsp; Address Book
								</div>
							</div>

							{% if address_list.count > 0 %}
								<hr/>
							{% endif %}

							{% for item_address in address_list %}
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 address-item" style="margin: 0 30px 30px 0;">
									<div class="address-item-info-text">
										<p class="name-bold">
											{{item_address.first_name}} {{item_address.last_name}}
										</p>
										<p>{{item_address.address}}</p>
										<p>{{item_address.city}}</p>
										<p>{{item_address.country}}</p>
										<p>{{item_address.phone_number}}</p>
									</div>

									<div class="check-icon">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>

									<div style="clear: both;"></div>
									<div style="bottom: 30px; position: absolute; width: calc(100% - 30px);">
										<hr/>
										<p>
											<span class="address-item-button delete-address" data-id-address="{{item_address.id}}">Delete</span> 
											| 
											<span class="address-item-button edit-address" data-id-address="{{item_address.id}}">Edit</span>
										</p>
									</div>
								</div>
			   				{% endfor %}

							<div style="clear: both;"></div>
							<hr/>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 address-item" style="border-color: grey; cursor: pointer;" id="add-address-click">
								<div style="margin-top: 100px;">
									<div class="add-icon">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</div>
									<div class="address-item-info-text" style="font-weight: 600; margin-left: 20px; margin-top: 30px;">
										Add a New Address
									</div>
								</div>
								<div style="clear: both;"></div>
							</div>

							<div style="clear: both;"></div>

	        				<form action="#" id="form-submit-account-info" data-id-address="" name="shipping-details">
	        					<div id="new-address-title" style="display: none; font-weight: 600; margin-bottom: 40px; font-size: 20px;">
	        						<i class="fa fa-circle" aria-hidden="true"></i>
	        						&nbsp;&nbsp;&nbsp;New Shipping Address
	        					</div>
	        					<div class="modify-address-title">Modify Address</div>
	        					<div class="row">
	        						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        							<div class="form_group">
			        						<div class="input_group">
			        							<input type="text" placeholder="First Name*" name="first_name">
			        							<i class="fa fa-user" aria-hidden="true"></i>
			        						</div> <!-- End of .input_group -->
			        					</div> <!-- End of .form_group -->

			        					<div class="form_group">
			        						<div class="input_group">
			        							<input type="text" placeholder="Last Name*" name="last_name">
			        							<i class="fa fa-user" aria-hidden="true"></i>
			        						</div> <!-- End of .input_group -->
			        					</div> <!-- End of .form_group -->

			        					<div class="form_group">
			        						<div class="input_group">
			        							<input type="text" placeholder="Address*" name="address">
			        							<i class="fa fa-location-arrow" aria-hidden="true"></i>
			        						</div> <!-- End of .input_group -->
			        					</div> <!-- End of .form_group -->

			        					<div class="form_group">
			        						<div class="input_group">
			        							<input type="text" placeholder="Town/City*" name="city">
			        							<i class="fa fa-globe" aria-hidden="true"></i>
			        						</div> <!-- End of .input_group -->
			        					</div> <!-- End of .form_group -->

			        					<div class="form_group">
			        						<div class="input_group">
			        							<input type="text" placeholder="Country*" name="country">
			        							<i class="fa fa-globe" aria-hidden="true"></i>
			        						</div> <!-- End of .input_group -->
			        					</div> <!-- End of .form_group -->

			        					<div class="form_group">
			        						<div class="input_group">
			        							<input type="email" placeholder="Email Address*" name="email">
			        							<i class="fa fa-envelope-o" aria-hidden="true"></i>
			        						</div> <!-- End of .input_group -->
			        					</div> <!-- End of .form_group -->

			        					<div class="form_group">
			        						<div class="input_group">
			        							<input type="text" placeholder="Phone Number*" name="phone_number">
			        							<i class="fa fa-phone" aria-hidden="true"></i>
			        						</div> <!-- End of .input_group -->
			        					</div> <!-- End of .form_group -->

	        						</div>

	        						<!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	        							<div class="form_group">
	        								<div class="input_group">
			        							<input type="email" placeholder="Email Address">
			        							<i class="fa fa-envelope-o" aria-hidden="true"></i>
			        						</div>
			        					</div>

			        					<div class="form_group">
			        						<div class="input_group">
			        							<input type="password" placeholder="Confirm Password">
			        							<i class="fa fa-unlock-alt" aria-hidden="true"></i>
			        						</div>
			        					</div>

			        					<div class="form_group">
			        						<div class="input_group">
			        							<input type="text" placeholder="Location">
			        							<i class="fa fa-location-arrow" aria-hidden="true"></i>
			        						</div>
			        					</div>
	        						</div> -->
	        					</div>
	        					<div class="clear_fix">
	        						<div class="single_checkbox float_left">
										<!-- <input type="checkbox" id="terms">
										<label for="terms">I agree the term’s & conditions</label> -->
									</div> <!-- End .single_checkbox -->
	        					</div>
	        					<button class="cart_btn3 tran3s cancel-update-field">
									Cancel
								</button>
								<button class="cart_btn1 tran3s color1_bg update-info-field">
									Save
								</button>
	        				</form>
	        			</div> <!-- End of .register_form -->

	        		</div> <!-- End of .row -->
	        	</div> <!-- End of .container -->
			</div> <!-- End of .account_page -->

			<script type="text/javascript">
				function popUpInternetConnectionError() {
					$('.internet-connection-error').fadeIn(200);
					$('.internet-connection-error').delay(1500).fadeOut(200);
				};

				// Validate shipping details form
				function ValidateEmail(mail) {  
					var re = /[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}/igm;
					if (re.test(mail)) {
					    return true;
					} else {
					    return false;
					}  
				};

				// When click to each of the input, its color reset to normal
				$('form[name="shipping-details"] input').each(function() {
					$(this).click(function(){
						$(this).css("border", "2px solid #f7f7f7");
					});
				});

				function validateForm() {
					var country = document.forms["shipping-details"]["country"].value;
					var firstName = document.forms["shipping-details"]["first_name"].value;
					var lastName = document.forms["shipping-details"]["last_name"].value;
					var address = document.forms["shipping-details"]["address"].value;
					var city = document.forms["shipping-details"]["city"].value;
					var email = document.forms["shipping-details"]["email"].value;
					var phoneNumber = document.forms["shipping-details"]["phone_number"].value;

					if (country == "") {
						$('input[name="country"]').css("border", "2px solid red");
					}
					if (firstName == "") {
						$('input[name="first_name"]').css("border", "2px solid red");
					}
					if (lastName == "") {
						$('input[name="last_name"]').css("border", "2px solid red");
					}
					if (address == "") {
						$('input[name="address"]').css("border", "2px solid red");
					}
					if (city == "") {
						$('input[name="city"]').css("border", "2px solid red");
					}
					if (ValidateEmail(email) == "") {
						$('input[name="email"]').css("border", "2px solid red");
					}
					if (phoneNumber == "") {
						$('input[name="phone_number"]').css("border", "2px solid red");
					}

					if (country == "" || firstName == "" || lastName == "" || address == "" || city == "" || !ValidateEmail(email) || phoneNumber == "") {
						// $(window).scrollTop(50);
						return false;
					}

					return true;
				}

				$(document).on("click", "button.cancel-update-field, button.update-info-field", function(e) {
					e.preventDefault();

					// Save add/change of address into database
					var addressObjID = $("form#form-submit-account-info").data('id-address');

					var country = document.forms["shipping-details"]["country"].value;
					var firstName = document.forms["shipping-details"]["first_name"].value;
					var lastName = document.forms["shipping-details"]["last_name"].value;
					var address = document.forms["shipping-details"]["address"].value;
					var city = document.forms["shipping-details"]["city"].value;
					var email = document.forms["shipping-details"]["email"].value;
					var phoneNumber = document.forms["shipping-details"]["phone_number"].value;

					var addressObj = {
						country: country,
						first_name: firstName,
						last_name: lastName,
						address: address,
						city: city,
						email: email,
						phone_number: phoneNumber
					};

					addressObjData = JSON.stringify(addressObj);

					if ($(this).hasClass('cancel-update-field')) {
						$(this).parents("form#form-submit-account-info").css("display", "none");
						$("#add-address-click").css("display", "block");
						$(document).scrollTop(400);

						$("#new-address-title").css("display", "none");
					} else if ($(this).hasClass('update-info-field')) {
						var currentFormDataAddress = $("form#form-submit-account-info").data('id-address');

						if (validateForm()) {
							if (typeof currentFormDataAddress == "number") {
								$.post(
									"/edit_address_book/",
									{ 
										csrfmiddlewaretoken: "{{ csrf_token }}",
										address_obj_ID: addressObjID,
										address_obj_data: addressObjData
									},
									function(data, status) {
										if (status == "success") {
											console.log(data, "success post");
											$(document).scrollTop(400);
											location.reload();
										}
									}
								).fail(function(){
									popUpInternetConnectionError();
								});
							} else if (typeof currentFormDataAddress == "string") {
								if (currentFormDataAddress == "add_new_address") {
									$.post(
										"/add_address_book/",
										{ 
											csrfmiddlewaretoken: "{{ csrf_token }}",
											address_obj_data: addressObjData
										},
										function(data, status) {
											if (status == "success") {
												console.log(data, "success post");
												$(document).scrollTop(400);
												location.reload();
											}
										}
									).fail(function(){
										popUpInternetConnectionError();
									});
								}
							}
						}
					}
				});

				$(document).on("click", "span.edit-address", function() {
					$("form#form-submit-account-info").css("display", "block");
					$("#add-address-click").css("display", "none");

					var offset = $("form#form-submit-account-info").offset();
					$(document).scrollTop(offset.top - 100);

					var addressDataID = $(this).data('id-address');
					console.log(addressDataID);
					// pass id address data to form
					$("form#form-submit-account-info").data('id-address', addressDataID);

					// Default value for form
					{% for item_address in address_list %}
						if (addressDataID == {{item_address.id}}) {
							document.forms["shipping-details"]["country"].value = "{{item_address.country}}";
							document.forms["shipping-details"]["first_name"].value = "{{item_address.first_name}}";
							document.forms["shipping-details"]["last_name"].value = "{{item_address.last_name}}";
							document.forms["shipping-details"]["address"].value = "{{item_address.address}}";
							document.forms["shipping-details"]["city"].value = "{{item_address.city}}";
							document.forms["shipping-details"]["email"].value = "{{item_address.email}}";
							document.forms["shipping-details"]["phone_number"].value = "{{item_address.phone_number}}";
						}
					{% endfor %}
				});

				$(document).on("click", "span.delete-address", function() {
					var addressDataID = $(this).data('id-address');

					$.post(
						"/delete_address_book/",
						{ 
							csrfmiddlewaretoken: "{{ csrf_token }}",
							address_obj_ID: addressDataID
						},
						function(data, status) {
							if (status == "success") {
								console.log(data, "success post");
								// $(document).scrollTop(400);
								location.reload();
							}
						}
					).fail(function(){
						popUpInternetConnectionError();
					});
				});

				$(document).on("click", "#add-address-click", function() {
					$(this).css("display", "none");
					$("form#form-submit-account-info").css("display", "block");

					var offset = $("form#form-submit-account-info").offset();
					$(document).scrollTop(offset.top - 100);

					$("#new-address-title").css("display", "block");

					// When add new address, empty all the form
					document.forms["shipping-details"]["country"].value = "";
					document.forms["shipping-details"]["first_name"].value = "";
					document.forms["shipping-details"]["last_name"].value = "";
					document.forms["shipping-details"]["address"].value = "";
					document.forms["shipping-details"]["city"].value = "";
					document.forms["shipping-details"]["email"].value = "";
					document.forms["shipping-details"]["phone_number"].value = "";

					// change data-id-address for the form in case of ading new address
					$("form#form-submit-account-info").data('id-address', 'add_new_address');
				});

				// console.log("length --", {{ address_list.count }});
			</script>
		{% endblock %}