{% for item in cart %}
	{% if item.is_first_of_day %}
	<div class="date-on-cart-list">{{ item.food.menu.convertdate }}</div>
	{% endif %}
	<li id="list-item-{{ item.food.id }}">		
		<div class="cart_item_wrapper clear_fix">

			<div class="img_holder float_left">
				<img src="{{item.food.food_type.image}}" alt="Cart Image" class="img-responsive" style="width:70px;height:80px;float:left;">
			</div>

			<div class="item_deatils float_left">
				<!--<h6>{{ item.food.convertdate }}</h6>-->
				<h6>
					<span class="vn">{{ item.food.food_type.name_vn }}</span>
					<span class="en">{{ item.food.food_type.name }}</span>
				</h6>
				<div style="margin-top: 9px;">
					<span class="font_fix">$ {{ item.food.price_from_foodtype }}</span> 
					<span style="float: right; margin-left: 90px;">
						$ <span id="total-price-for-food-id-{{item.food.id}}">{% widthratio item.food.price_from_foodtype 1 item.quantity %}</span>
					</span>
				</div>
				<div> 
					<a class="remove-from-cart-list" data-id-food="{{item.food.id}}" data-price-food="{{item.food.price_from_foodtype}}">
						<i class="fa fa-minus-circle" aria-hidden="true"></i>
					</a>
					&nbsp;
					<span id="quantity-for-food-id-{{item.food.id}}">{{item.quantity}}</span>
					&nbsp;
					<a class="add-to-cart-list" data-id-food="{{item.food.id}}" data-price-food="{{item.food.price_from_foodtype}}">
						<i class="fa fa-plus-circle" aria-hidden="true"></i>
					</a>
				</div>
			</div> <!-- End of .item_deatils -->
		</div> <!-- End of .cart_item_wrapper -->
		<i class="fa fa-times-circle-o close-list-cart" data-id-food="{{item.food.id}}" data-price-food="{{item.food.price_from_foodtype}}" aria-hidden="true"></i>
	</li>
{% empty %}
	
{% endfor %}