{% for food in foods %}
<!--Default Item-->
<div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all {{food.category}}" style="display: inline-block;">
    <div class="inner-box">
        <div class="single-item center">
            <figure class="image-box">
            	<img src="{{food.food_type.image}}" alt="">
            	<div class="product-model new" id="{{food.category}}" style="font-size: 10px">{{food.category}}</div>
            	<div class="overlay-box">
                	<div class="inner">
                    	<div class="top-content" style="color: #7fb401; font-size: 120%; padding-bottom: 0;">
    						<a href="#my_modal" data-toggle="modal" data-food-id="{{food.food_type.name}}" data-modal-id="{% url 'ultimatefitbackend:food' food.id %}" class="btnAdd-{{food.food_type.name}}">
                                <span data-toggle="tooltip" data-placement="top" title="View" class="fa fa-eye"></span>
                            </a>
            				<!--&nbsp;&nbsp;&nbsp;&nbsp;  	
                    		<span data-toggle="tooltip" data-placement="top" title="Like" class="fa fa-heart-o"></span>-->
                    		
                    		<div class="distance-content"></div>

                    		<div class="bottom-content">
                        		<p>{{food.protein_from_foodtype}}g Protein, {{food.fat_from_foodtype}}g Fat, {{food.carb_from_foodtype}}g Carbs</p>
                        	</div>
                    	</div>                        	
                	</div>
                </div>
            </figure>
            <div class="content">
            	<h3>
            		<a href="shop-single.html">
                        <!-- {% if request.LANGUAGE_CODE == "en" %}
                        {{food.food_type.name}}
                        {% elif request.LANGUAGE_CODE == "vn" %}
                        {{food.food_type.name_vn}}
                        {% endif %} -->
                        <span class="vn">{{food.food_type.name_vn}}</span>
                        <span class="en">{{food.food_type.name}}</span>
                    </a>
            	</h3>
            	<p>{{food.cal_from_foodtype}}kcal</p>

            	<!--THIS IS FOR RATING STARS-->
                <!--<div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>-->                            
                <div class="price">
                    {% if food.food_type.discount_price == 0 %}
                	${{food.price_from_foodtype}}
                    {% else %}
                    ${{food.food_type.discount_price}}
                	<span class="prev-rate">${{food.price_from_foodtype}}</span>
                    {% endif %}
                </div>

                <div class="tran3s color1_bg unselectable meal-bottom-button add-to-cart-list" id="meal-zero-button-{{food.id}}" data-id-food="{{food.id}}" data-price-food="{{food.price_from_foodtype}}" data-is-from-meal="from-meal">
                	<span class="vn">THÊM VÀO GIỎ</span>
                    <span class="en">ADD TO CART</span>
                </div>

                <div class="tran3s color1_bg unselectable meal-bottom-button" id="meal-none-zero-button-{{food.id}}" style="display: none;">
                	
            		<div style="width: 25%; float: left;" class="remove-from-cart-list" data-id-food="{{food.id}}" data-price-food="{{food.price_from_foodtype}}" data-is-from-meal="from-meal">
            			&nbsp;&nbsp;&minus;&nbsp;&nbsp;
            		</div>
            		<div style="width: 50%; float: left;" id="food-{{food.id}}-quantity-on-meal">
            			1
            		</div>
            		<div style="width: 25%; float: left;" class="add-to-cart-list" data-id-food="{{food.id}}" data-price-food="{{food.price_from_foodtype}}" data-is-from-meal="from-meal">
            			&nbsp;&nbsp;+&nbsp;&nbsp;
            		</div>
                	
                </div>
            </div>
        </div>               
    </div>
</div>
{% endfor %}

<script>
	var quantityOfFoodArray = [];
	{% for item in cart %}
		quantityOfFoodArray[{{item.food.id}}] = {{item.quantity}};
		console.log("Quantity of " + {{item.food.id}} + ".{{item.food.food_type.name}}" + " when the page is freshly loaded: " + {{item.quantity}});

		if (quantityOfFoodArray[{{item.food.id}}] > 0) {
			$("div#food-" + {{item.food.id}} + "-quantity-on-meal").html(quantityOfFoodArray[{{item.food.id}}]);

			$("#meal-none-zero-button-" + {{item.food.id}}).show();
			$("#meal-zero-button-" + {{item.food.id}}).hide();
		}
	{% endfor %};

    $("div#MAINTAIN").css({"background-color": "#964B00"});
    $("div#HEAVY").css({"background-color": "red"});
</script>