{% extends 'base.html' %}

{% load static %}

			

			{% block content %}
			<style>
				body ::-webkit-scrollbar {
				    width: 0px !important;
				}				

				.top-content a:visited {
				    text-decoration: none !important; 
				    decoration: none;   
				}

				/*CUSTOMIZE MMM YYYY TEXT*/
				.fc-center h2 {
					font-size: 120%;
				}

				.fc-left button {
					height: 50%;
				}
				.fc-left span {
					font-size: 10px;
				}

				.fc-right button {
					height: 50%;
				}
				.fc-right span {
					font-size: 10px;
				}


				span.fc-time {
					display:none;
				}

				.fc-content {
					border-style: solid;
					border-top-width: 10px;					
					z-index: -1000 !important;
					/*2 box-shadow as fake complete (rectangle top border)*/
					box-shadow: 2px -26px 0px 0px #DCDCDC, -2px -26px 0px 0px #DCDCDC;
				}

				.fc-widget-content {
					/*decreace min-height from 64px to 30px first*/
					min-height: 30px !important;
					height: 40px;
				}

				.top-content span {
					border-style: solid;
					border-width: 2px;
					border-color: #7fb401;
					border-radius: 50%;
					padding: 12px;
				}

				.top-content span:hover {
					color: white;
					background-color: #7fb401;
				}

				/*.top-content {
					margin-top: -20px;
				}*/			
				.distance-content {
					height: 23px;
				}

				.bottom-content {
					background-color: transparent !important;
				}
				.bottom-content p {
					font-weight: bold;
					color: #808080 !important;
				}

				.meal-bottom-button {
					margin-top: 10px;
					padding-top: 10px;
					padding-bottom: 10px;
					font-weight: bold;
					color: white;
					height: 40px;
				}
				.meal-bottom-button div.add-to-cart-list:hover {
					background-color: #507200;
					border-style: solid;
					border-top-width: 0px;
					border-bottom-width: 7px;
					border-color: #507200;
					box-shadow: 0px -10px 0px 0px #507200;
				}
				.meal-bottom-button div.remove-from-cart-list:hover {
					background-color: #507200;
					border-style: solid;
					border-top-width: 0px;
					border-bottom-width: 7px;
					border-color: #507200;
					box-shadow: 0px -10px 0px 0px #507200;
				}

			</style>
			<section class="breadcrumb-area" style="background-image:url({% static 'ultimatefitbackend/images/background/2.jpg' %});">
			    <div class="container">
			        <div class="row">
			            <div class="col-md-12">
			                <div class="breadcrumbs text-center">
			                    <h1>our store</h1>
			                    <h4>Welcome to certified online organic products suppliersr</h4>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="breadcrumb-bottom-area">
				    <div class="container">
				        <div class="row">
				            <div class="col-lg-8 col-md-5 col-sm-5">
				                <ul>
				                    <li><a href="#">Home</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li><a href="#">Gallery</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li>our store</li> 
				                </ul>
				            </div>
				            <div class="col-lg-4 col-md-7 col-sm-7">
				                <p>We provide <span>100% organic</span> products</p>
				            </div>
				        </div>
				    </div>
				</div>
			    
			</section>


			<!-- Shop Page Content************************ -->
	        <div class="shop_page featured-product">
	        	<div class="container">
	        		<div class="row">
	        			<div class="col-lg-9 col-md-8 col-sm-12 col-sx-12">
	        					        			
		        			<div class="theme_title center">
				                <h3>FEATURED PRODUCTS</h3>
				            </div>

		        			<!--Filter-->
				            <div class="filters text-center">
				                <ul class="filter-tabs filter-btns clearfix">
				                    <li class="ALL filter active" data-role="button" data-filter="all"><span class="txt">All Products (<span id="total_count">{{total_count}}</span>)</span></li>
				                    <li class="LEAN filter" data-role="button" data-filter=".LEAN"><span class="txt">lean on me (<span id="lean_count">{{lean_count}}</span>)</span></li>
				                    <li class="MAINTAIN filter" data-role="button" data-filter=".MAINTAIN"><span class="txt">maintain (<span id="maintain_count">{{maintain_count}}</span>)</span></li>
				                    <li class="HEAVY filter" data-role="button" data-filter=".HEAVY"><span class="txt">heavy duty (<span id="heavy_count">{{heavy_count}}</span>)</span></li>
				                    <!--<li class="filter" data-role="button" data-filter=".others"><span class="txt">others</span></li>-->
				                </ul>
				            </div>

		        			<div class="row filter-list clearfix" id="MixItUp717B05">
							
								<!--THIS DIV IS TO DISPLAY CALENDAR-->

								{% for food in foods %}
								<!--Default Item-->
					            <div class="col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all {{food.category}}" style="display: inline-block;">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box">
					                        	<!--<img src="{% static 'ultimatefitbackend/images/shop/1.png' %}" alt="">-->
					                        	<img src="{{food.food_type.image}}" alt="">
					                        	<div class="product-model new">{{food.category}}</div>
					                        	<div class="overlay-box">
						                        	<div class="inner">
							                        	<div class="top-content" style="color: #7fb401; font-size: 120%; padding-bottom: 0;">
			                        						<a href="#my_modal" data-toggle="modal" data-food-id="{{food.food_type.name}}" data-modal-id="{% url 'ultimatefitbackend:food' food.id %}" class="btnAdd-{{food.food_type.name}}">
			                        							<span data-toggle="tooltip" data-placement="top" title="View" class="fa fa-eye"></span>
			                        						</a>
					                        				<!--&nbsp;&nbsp;&nbsp;&nbsp;  	
							                        		<span data-toggle="tooltip" data-placement="top" title="Like" class="fa fa-heart-o"></span>-->
							                        		
							                        		<div class="distance-content"></div>

							                        		<div class="bottom-content">
								                        		<p>{{food.protein_from_foodtype}}% Protein, {{food.fat_from_foodtype}}% Fat, {{food.carb_from_foodtype}}% Carbs</p>
								                        	</div>
							                        	</div>                        	
						                        	</div>
						                        </div>
					                        </figure>
					                        <div class="content">
					                        	<h3>
					                        		<a href="shop-single.html">{{food.food_type.name}}</a>
					                        	</h3>
					                        	<p>{{food.cal_from_foodtype}}kcal</p>

					                        	<!--THIS IS FOR RATING STARS-->
					                            <!--<div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>-->                            
					                            <div class="price">
					                            	${{food.price_from_foodtype}} 
					                            	<span class="prev-rate">$14.99</span>
					                            </div>

					                            <div class="tran3s color1_bg unselectable meal-bottom-button add-to-cart-list" id="meal-zero-button-{{food.id}}" data-id-food="{{food.id}}" data-price-food="{{food.price_from_foodtype}}" data-is-from-meal="from-meal">
					                            	<span>ADD TO CART</span>
					                            </div>

					                            <div class="tran3s color1_bg unselectable meal-bottom-button" id="meal-none-zero-button-{{food.id}}" style="display: none;">
					                            	
				                            		<div style="width: 25%; float: left;" class="remove-from-cart-list" data-id-food="{{food.id}}" data-price-food="{{food.price_from_foodtype}}" data-is-from-meal="from-meal">
				                            			&nbsp;&nbsp;&minus;&nbsp;&nbsp;
				                            		</div>
				                            		<div style="width: 50%; float: left;" id="food-{{food.id}}-quantity-on-meal">
				                            			1
				                            		</div>
				                            		<div style="width: 25%; float: left;" class="add-to-cart-list" data-id-food="{{food.id}}" data-price-food="{{food.price_from_foodtype}}" data-is-from-meal="from-meal">
				                            			&nbsp;&nbsp;+&nbsp;&nbsp;
				                            		</div>
					                            	
					                            </div>
					                        </div>
						                </div>               
					                </div>
					            </div>
					            {% endfor %}								
					            
			        		</div>
			        	</div>

						<!-- _______________________ SIDEBAR ____________________ -->
	        			<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 sidebar_styleTwo">
	        				<div class="wrapper">
	        					<div class="sidebar_search">
	        						<form action="#">
	        							<input type="text">
	        							<button class="tran3s color1_bg"><i class="fa fa-search" aria-hidden="true"></i></button>
	        						</form>
	        					</div> <!-- End of .sidebar_styleOne -->

	        					<div class="sidebar_categories">
	        						<div class="theme_inner_title">
										<h4>Categories</h4>
									</div>
									<ul>
										<li><a href="" class="tran3s">Vegetables   (15)</a></li>
										<li><a href="" class="tran3s">Fruits & Drinks   (06)</a></li>
										<li><a href="" class="tran3s">Fresh Meat   (12)</a></li>
										<li><a href="" class="tran3s">Beauty Care   (14)</a></li>
									</ul>
	        					</div> <!-- End of .sidebar_categories -->
	        					<div id='calendar'></div>
	        					<br><br>
	        					<div class="price_filter wow fadeInUp">
									<div class="theme_inner_title">
										<h4>Filter By Price</h4>
									</div>
									<div class="single-sidebar price-ranger">
										<div id="slider-range"></div>
										<div class="ranger-min-max-block">
											<input type="submit" value="Filter">
											<span>Price:</span>
											<input type="text" readonly class="min"> 
											<span>-</span>
											<input type="text" readonly class="max">
										</div>
									</div> <!-- /price-ranger -->
								</div> <!-- /price_filter -->

								<div class="best_sellers clear_fix wow fadeInUp">
									<div class="theme_inner_title">
										<h4>popular products</h4>
									</div>

									<div class="best_selling_item clear_fix border">
										<div class="img_holder float_left">
											<img src="{% static 'ultimatefitbackend/images/shop/9.png' %}" alt="image">
										</div> <!-- End of .img_holder -->

										<div class="text float_left">
											<a href="shop-single.html"><h6>Turmeric Powder</h6></a>
											<ul>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<span>$ 15.00</span>
										</div> <!-- End of .text -->
									</div> <!-- End of .best_selling_item -->

									<div class="best_selling_item clear_fix border">
										<div class="img_holder float_left">
											<img src="{% static 'ultimatefitbackend/images/shop/10.png' %}" alt="image">
										</div> <!-- End of .img_holder -->

										<div class="text float_left">
											<a href="shop-single.html"><h6>Pure Jeans Coffee</h6></a>
											<ul>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<span>$ 34.00</span>
										</div> <!-- End of .text -->
									</div> <!-- End of .best_selling_item -->

									<div class="best_selling_item clear_fix">
										<div class="img_holder float_left">
											<img src="{% static 'ultimatefitbackend/images/shop/11.png' %}" alt="image">
										</div> <!-- End of .img_holder -->

										<div class="text float_left">
											<a href="shop-single.html"><h6>Columbia Chocolate</h6></a>
											<ul>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<span>$ 34.99</span>
										</div> <!-- End of .text -->
									</div> <!-- End of .best_selling_item -->
								</div> <!-- End of .best_sellers -->


								<div class="sidebar_tags wow fadeInUp">
	   								<div class="theme_inner_title">
										<h4>product Tags</h4>
									</div>

									<ul>
										<li><a href="#" class="tran3s">fruits</a></li>
										<li><a href="#" class="tran3s">Cosmetics</a></li>
										<li><a href="#" class="tran3s">Farmers</a></li>
										<li><a href="#" class="tran3s">Healthy</a></li>
										<li><a href="#" class="tran3s">Catering</a>  </li>
										<li><a href="#" class="tran3s">Chemical</a></li>
										<li><a href="#" class="tran3s">Post Format</a> </li>
										<li><a href="#" class="tran3s">Industry</a></li>
										<li><a href="#" class="tran3s">Research</a></li>
									</ul>
	   							</div> <!-- End of .sidebar_tags -->

	        				</div> <!-- End of .wrapper -->
	        			</div> <!-- End of .sidebar_styleTwo -->
	        		</div> <!-- End of .row -->
	        	</div> <!-- End of .container -->
	        </div> <!-- End of .shop_page -->

	        <div class="modal" id="my_modal" style="padding-top: 35px;">
			    <div class="modal-dialog modal-box-size">		    	
				    <div class="modal-content">
				        <div class="modal-header">
				            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				            <h4 class="modal-title">Modal header</h4>

				            <div>			        	
								<iframe width="100%" scrolling="no" frameborder="0" src="" onload="this.height=this.contentWindow.document.body.scrollHeight;" ></iframe>					
							</div>
				        </div>			        				
				        <!--<div class="modal-footer">
				            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>-->
				    </div>
			    </div>
			</div>

	        <!--<script src="{% static 'ultimatefitbackend/fullcalendar/lib/jquery.min.js' %}"></script>-->
			<script src="{% static 'ultimatefitbackend/fullcalendar/lib/moment.min.js' %}"></script>
			<script src="{% static 'ultimatefitbackend/fullcalendar/fullcalendar.js' %}"></script>

			<script type="text/javascript">

				$(document).on("click", ".ALL", function(){
					location.hash = "";
				});
				$(document).on("click", ".LEAN", function(){
					location.hash = "lean";
				});
				$(document).on("click", ".MAINTAIN", function(){
					location.hash = "maintain";
				});
				$(document).on("click", ".HEAVY", function(){
					location.hash = "heavy";
				});
				
				$(document).on('show.bs.modal', '#my_modal', function(e) {
			        console.log("HII");
			        var foodId = $(e.relatedTarget).data('food-id');		        
			        $(e.currentTarget).find('h4[class="modal-title"]').html(foodId);
			        console.log(foodId);
			        console.log(typeof(foodId.toString()));

			        var modalId = $(e.relatedTarget).data('modal-id');
			        $(e.currentTarget).find('iframe').attr("src", modalId);
			    });

			    //WHEN CLOSE MODAL BOX, REFRESH THE MEAL LIST FOOD TO DISPLAY CORRECTLY
				$(document).on('hidden.bs.modal', '#my_modal', function (e) {
				    /*$.get("/meal_food_list_update", function(data, status){
				        $("#MixItUp717B05").html(data);
				    }).fail(function(){
					    popUpInternetConnectionError();
					});*/
					$.post(
				    	"/meal_food_list_update_query_by_date/",
				        { 
				          csrfmiddlewaretoken: "{{ csrf_token }}",
				          queryDate: JSON.stringify(clickedDateObject)
				        },
				        function(data,status){
				            console.log("Status: " + status);
				            if (status == "success") {
							    $("#MixItUp717B05").html(data);
					        };
				        }
			        ).fail(function(){
					    popUpInternetConnectionError();
					});
				});

				$('span.fa-eye').tooltip({show: {effect:"none", delay:0}});
				$('span.fa-heart-o').tooltip({show: {effect:"none", delay:0}});

				
				// DEFINE OBJECT VARIABLE FIRST, THEN THE VARIABLE WOULD BE USED COMMONLY FOR THE WHOLE /meal PAGE 
				// INITIALLY THE DATE OBJECT DATA IS TODAY FOR HOVERING AND CLOSE MODAL BOX TRIGGER
				var clickedDateObject = {
		        	"queryYear": moment().year(),
			        "queryMonth": moment().month() + 1,
			        "queryDay": moment().date()
		        };


				$(document).ready(function() {

					// page is now ready, initialize the calendar...
					$('#calendar').fullCalendar({
						// put your options and callbacks here
						
						header: {
						    left: 'prev',
						    center: 'title',
						    right: 'next'
						}, // buttons for switching between views
						
						contentHeight: "auto",
						//aspectRatio: 1,
						editable: true,
						titleFormat: 'MMM YYYY',
						
						/*navLinks: true,
						navLinkDayClick: function(date, jsEvent) {
							console.log('day', date.format()); // date is a moment
							console.log('coords', jsEvent.pageX, jsEvent.pageY);
						},*/
							
						events: 
							[								
								{% autoescape off %}
								{
									title: '',
									start: moment().toISOString(),
									color: '#DCDCDC',
									editable: true,
									//description: 
								}
								{% endautoescape %}
							],
							
						eventRender: function(event, element, view) { 
							element.append(event.description);
						},

						dayRender: function(date, cell) {
							cell.css("background-color", "silver");
							
							cell.css("height", "10px");
						},

						dayClick: function(date, jsEvent, view) {

					        colorEventJsonObject = [{
					        	title: '',
								start: date.toISOString(),
								color: '#DCDCDC',
								editable: true,
					        }];

					        console.log("clicked day is: " + date.toISOString());
					        $("#calendar").fullCalendar('removeEvents');
					        $("#calendar").fullCalendar('addEventSource', colorEventJsonObject);
					        console.log("clicked year is: " + date.year());
					        console.log("clicked month is: " + (date.month() + 1));
					        console.log("clicked day is: " + date.date());

					        // This object only change when dayClick happen
					        clickedDateObject = {
					        	"queryYear": date.year(),
						        "queryMonth": date.month() + 1,
						        "queryDay": date.date()
					        };
					        /*console.log(typeof(clickedDateObject));
					        console.log(clickedDateObject["queryYear"]);*/

					        $.post(
						    	"/meal_food_list_update_query_by_date/",
						        { 
						          csrfmiddlewaretoken: "{{ csrf_token }}",
						          queryDate: JSON.stringify(clickedDateObject)
						        },
						        function(data,status){
						            console.log("Status: " + status);
						            if (status == "success") {
									    $("#MixItUp717B05").html(data);
							        };
						        }
					        ).fail(function(){
							    popUpInternetConnectionError();				    
							});

							$.post(
						    	"/count_number_of_food/",
						        { 
						          csrfmiddlewaretoken: "{{ csrf_token }}",
						          queryDate: JSON.stringify(clickedDateObject)
						        },
						        function(data,status){
						            console.log("Status: " + status);
						            if (status == "success") {
									    $("#total_count").html(data.total_count);
									    $("#lean_count").html(data.lean_count);
									    $("#maintain_count").html(data.maintain_count);
									    $("#heavy_count").html(data.heavy_count);
							        };
						        }
					        ).fail(function(){
							    popUpInternetConnectionError();				    
							});
					    },
					})								
				});

				// DON'T NEED TO GET THAT EVENT AND UPDATE, JUST REMOVE ALL EVENTS, AND ADD NEW SIMPLE ONE
				//console.log($("#calendar").fullCalendar( 'clientEvents', ' ' ));
				
			</script>
	        {% endblock %}