{% extends 'base.html' %}

{% load static %}

			

			{% block content %}
			<style>
				body ::-webkit-scrollbar {
				    width: 0px !important;
				}
				.popUpMessage {
					border-style: solid;
					border-color: #eaeaea;
					border-radius: 3px;
					border-width: 1px;
					background-color: white;
					width: 400px;
					box-shadow: 2px 2px 1px #d8d8d8;
					margin-bottom: 10px;
				}
				.popUpMessage p {
					margin-left: 10px;
				}

				.modal-box-size {
					width: 76%;
				}

				@media (min-width: 1500px) {
					.modal-box-size {
						width: 66%;
					}
				}
				@media (min-width: 2000px) {
					.modal-box-size {
						width: 56%;
					}
				}
				@media (min-width: 2500px) {
					.modal-box-size {
						width: 46%;
					}
				}

				/*.modal__inner {
				    position: absolute;
				}
			
				.modalDialog {
					position: fixed;
					overflow-y: auto;
					font-family: Arial, Helvetica, sans-serif;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: rgba(0,0,0,0.8);
					z-index: 99999;
					opacity:0;
					-webkit-transition: opacity 400ms ease-in;
					-moz-transition: opacity 400ms ease-in;
					transition: opacity 400ms ease-in;
					pointer-events: none;
				}*/
				
				
				/*Customizing scrollbar*/
				/*.modalDialog::-webkit-scrollbar {
					width: 0.2em;
				}
				 
				.modalDialog::-webkit-scrollbar-track {
					-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				}
				 
				.modalDialog::-webkit-scrollbar-thumb {
				  background-color: darkgrey;
				  outline: 1px solid slategrey;
				}*/
				
				/**/
				

				/*.modalDialog:target {
					opacity:1;
					pointer-events: auto;
				}

				.modalDialog > div {
					width: 90%;            
					position: relative;
					margin: 10% auto;
					padding: 5px 20px 13px 20px;
					border-radius: 10px;
					background: #fff;
					background: -moz-linear-gradient(#fff, #999);
					background: -webkit-linear-gradient(#fff, #999);
					background: -o-linear-gradient(#fff, #999);
				}*/

				/*Close button of modal box*/
				.close {
					background: #606061;
					color: #FFFFFF;
					line-height: 25px;
					position: absolute;
					right: -12px;
					text-align: center;
					top: -10px;
					width: 24px;
					text-decoration: none;
					font-weight: bold;
					-webkit-border-radius: 12px;
					-moz-border-radius: 12px;
					border-radius: 12px;
					-moz-box-shadow: 1px 1px 3px #000;
					-webkit-box-shadow: 1px 1px 3px #000;
					box-shadow: 1px 1px 3px #000;
				}

				.close:hover { background: #00d9ff; }

			</style>
			<section class="breadcrumb-area" style="background-image:url({% static 'ultimatefitbackend/images/background/2.jpg' %});">
			    <div class="container">
			        <div class="row">
			            <div class="col-md-12">
			                <div class="breadcrumbs text-center">
			                    <h1>our store</h1>
			                    <h4>Welcome to certified online organic products suppliersr</h4>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="breadcrumb-bottom-area">
				    <div class="container">
				        <div class="row">
				            <div class="col-lg-8 col-md-5 col-sm-5">
				                <ul>
				                    <li><a href="#">Home</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li><a href="#">Gallery</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li>our store</li> 
				                </ul>
				            </div>
				            <div class="col-lg-4 col-md-7 col-sm-7">
				                <p>We provide <span>100% organic</span> products</p>
				            </div>
				        </div>
				    </div>
				</div>
			    
			</section>


			<!-- Shop Page Content************************ -->
	        <div class="shop_page featured-product">
	        	<div class="container">
	        		<div class="row">
	        			<div class="col-lg-9 col-md-8 col-sm-12 col-sx-12">
	        					        			
		        			<div class="row">
							
								<div id='calendar'></div>
								
								<!--Default Item-->
					            <div class="col-md-4 col-sm-6 col-xs-12 default-item" style="display: inline-block;">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/shop/1.png' %}" alt=""><div class="product-model new">New</div></figure>
					                        <div class="content">
					                        	<h3><a href="shop-single.html">Turmeric Powder</a></h3>
					                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
					                            <div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
					                        </div>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="top-content">
						                        		<ul>
						                        			<li><a href="#"><span class="fa fa-eye"></span></a></li>
						                        			<li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="#"><span class="icon-icon-32846"></span></a>
																
															</li>
						                        			<li><a href="#"><span class="fa fa-heart-o"></span></a></li>
						                        		</ul>
						                        	</div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">It Contains:</a></h4>
						                        		<p>35% of organic raisins 55% of oats and 10% of butter. </p>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-4 col-sm-6 col-xs-12 default-item" style="display: inline-block;">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/shop/2.png' %}" alt=""></figure>
					                        <div class="content">
					                        	<h3><a href="shop-single.html">Turmeric Powder</a></h3>
					                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
					                            <div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
					                        </div>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="top-content">
						                        		<ul>
						                        			<li><a href="#"><span class="fa fa-eye"></span></a></li>
						                        			<li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="#"><span class="icon-icon-32846"></span></a>
																
															</li>
						                        			<li><a href="#"><span class="fa fa-heart-o"></span></a></li>
						                        		</ul>
						                        	</div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">It Contains:</a></h4>
						                        		<p>35% of organic raisins 55% of oats and 10% of butter. </p>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-4 col-sm-6 col-xs-12 default-item" style="display: inline-block;">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/shop/3.png' %}" alt=""><div class="product-model hot">Hot</div></figure>
					                        <div class="content">
					                        	<h3><a href="shop-single.html">Turmeric Powder</a></h3>
					                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
					                            <div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
					                        </div>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="top-content">
						                        		<ul>
						                        			<li><a href="#"><span class="fa fa-eye"></span></a></li>
						                        			<li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="#"><span class="icon-icon-32846"></span></a>
																
															</li>
						                        			<li><a href="#"><span class="fa fa-heart-o"></span></a></li>
						                        		</ul>
						                        	</div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">It Contains:</a></h4>
						                        		<p>35% of organic raisins 55% of oats and 10% of butter. </p>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-4 col-sm-6 col-xs-12 default-item" style="display: inline-block;">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/shop/4.png' %}" alt=""></figure>
					                        <div class="content">
					                        	<h3><a href="shop-single.html">Turmeric Powder</a></h3>
					                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
					                            <div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
					                        </div>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="top-content">
						                        		<ul>
						                        			<li><a href="#"><span class="fa fa-eye"></span></a></li>
						                        			<li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="#"><span class="icon-icon-32846"></span></a>
																
															</li>
						                        			<li><a href="#"><span class="fa fa-heart-o"></span></a></li>
						                        		</ul>
						                        	</div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">It Contains:</a></h4>
						                        		<p>35% of organic raisins 55% of oats and 10% of butter. </p>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-4 col-sm-6 col-xs-12 default-item" style="display: inline-block;">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/shop/5.png' %}" alt=""></figure>
					                        <div class="content">
					                        	<h3><a href="shop-single.html">Turmeric Powder</a></h3>
					                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
					                            <div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
					                        </div>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="top-content">
						                        		<ul>
						                        			<li><a href="#"><span class="fa fa-eye"></span></a></li>
						                        			<li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="#"><span class="icon-icon-32846"></span></a>
																
															</li>
						                        			<li><a href="#"><span class="fa fa-heart-o"></span></a></li>
						                        		</ul>
						                        	</div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">It Contains:</a></h4>
						                        		<p>35% of organic raisins 55% of oats and 10% of butter. </p>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-4 col-sm-6 col-xs-12 default-item" style="display: inline-block;">
					                <div class="inner-box">
					                    <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/shop/6.png' %}" alt=""><div class="product-model new">New</div></figure>
					                        <div class="content">
					                        	<h3><a href="shop-single.html">Turmeric Powder</a></h3>
					                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
					                            <div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
					                        </div>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="top-content">
						                        		<ul>
						                        			<li><a href="#"><span class="fa fa-eye"></span></a></li>
						                        			<li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="#"><span class="icon-icon-32846"></span></a>
																
															</li>
						                        			
						                        			<li><a href="#"><span class="fa fa-heart-o"></span></a></li>
						                        		</ul>
						                        	</div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">It Contains:</a></h4>
						                        		<p>35% of organic raisins 55% of oats and 10% of butter. </p>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-4 col-sm-6 col-xs-12 default-item" style="display: inline-block;">
					                <div class="inner-box">
					                   <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/shop/7.png' %}" alt=""></figure>
					                        <div class="content">
					                        	<h3><a href="shop-single.html">Turmeric Powder</a></h3>
					                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
					                            <div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
					                        </div>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="top-content">
						                        		<ul>
						                        			<li><a href="#"><span class="fa fa-eye"></span></a></li>
						                        			<li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="#"><span class="icon-icon-32846"></span></a>
																
															</li>
						                        			<li><a href="#"><span class="fa fa-heart-o"></span></a></li>
						                        		</ul>
						                        	</div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">It Contains:</a></h4>
						                        		<p>35% of organic raisins 55% of oats and 10% of butter. </p>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
					            <!--Default Item-->
					            <div class="col-md-4 col-sm-6 col-xs-12 default-item" style="display: inline-block;">
					                <div class="inner-box">
					                   <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/shop/8.png' %}" alt=""><div class="product-model hot">Hot</div></figure>
					                        <div class="content">
					                        	<h3><a href="shop-single.html">Turmeric Powder</a></h3>
					                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
					                            <div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
					                        </div>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="top-content">
						                        		<ul>
						                        			<li><a href="#"><span class="fa fa-eye"></span></a></li>
						                        			<li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="#"><span class="icon-icon-32846"></span></a>
																
															</li>
						                        			
						                        			<li><a href="#"><span class="fa fa-heart-o"></span></a></li>
						                        		</ul>
						                        	</div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">It Contains:</a></h4>
						                        		<p>35% of organic raisins 55% of oats and 10% of butter. </p>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            <!--Default Item-->
					            <div class="col-md-4 col-sm-6 col-xs-12 default-item" style="display: inline-block;">
					                <div class="inner-box">
					                   <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/shop/12.png' %}" alt=""></figure>
					                        <div class="content">
					                        	<h3><a href="shop-single.html">Turmeric Powder</a></h3>
					                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
					                            <div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
					                        </div>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="top-content">
						                        		<ul>
						                        			<li><a href="#"><span class="fa fa-eye"></span></a></li>
						                        			<li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="#"><span class="icon-icon-32846"></span></a>
																
															</li>
						                        			
						                        			<li><a href="#"><span class="fa fa-heart-o"></span></a></li>
						                        		</ul>
						                        	</div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">It Contains:</a></h4>
						                        		<p>35% of organic raisins 55% of oats and 10% of butter. </p>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            <!--Default Item-->
					            <div class="col-md-4 col-sm-6 col-xs-12 default-item" style="display: inline-block;">
					                <div class="inner-box">
					                   <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/shop/13.png' %}" alt=""></figure>
					                        <div class="content">
					                        	<h3><a href="shop-single.html">Turmeric Powder</a></h3>
					                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
					                            <div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
					                        </div>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="top-content">
						                        		<ul>
						                        			<li><a href="#"><span class="fa fa-eye"></span></a></li>
						                        			<li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="#"><span class="icon-icon-32846"></span></a>
																
															</li>
						                        			
						                        			<li><a href="#"><span class="fa fa-heart-o"></span></a></li>
						                        		</ul>
						                        	</div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">It Contains:</a></h4>
						                        		<p>35% of organic raisins 55% of oats and 10% of butter. </p>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            <!--Default Item-->
					            <div class="col-md-4 col-sm-6 col-xs-12 default-item" style="display: inline-block;">
					                <div class="inner-box">
					                   <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/shop/14.png' %}" alt=""></figure>
					                        <div class="content">
					                        	<h3><a href="shop-single.html">Turmeric Powder</a></h3>
					                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
					                            <div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
					                        </div>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="top-content">
						                        		<ul>
						                        			<li><a href="#"><span class="fa fa-eye"></span></a></li>
						                        			<li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="#"><span class="icon-icon-32846"></span></a>
																
															</li>
						                        			
						                        			<li><a href="#"><span class="fa fa-heart-o"></span></a></li>
						                        		</ul>
						                        	</div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">It Contains:</a></h4>
						                        		<p>35% of organic raisins 55% of oats and 10% of butter. </p>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            <!--Default Item-->
					            <div class="col-md-4 col-sm-6 col-xs-12 default-item" style="display: inline-block;">
					                <div class="inner-box">
					                   <div class="single-item center">
					                        <figure class="image-box"><img src="{% static 'ultimatefitbackend/images/shop/15.png' %}" alt=""></figure>
					                        <div class="content">
					                        	<h3><a href="shop-single.html">Turmeric Powder</a></h3>
					                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
					                            <div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
					                        </div>
					                        <div class="overlay-box">
					                        	<div class="inner">
						                        	<div class="top-content">
						                        		<ul>
						                        			<li><a href="#"><span class="fa fa-eye"></span></a></li>
						                        			<li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="#"><span class="icon-icon-32846"></span></a>
																
															</li>
						                        			
						                        			<li><a href="#"><span class="fa fa-heart-o"></span></a></li>
						                        		</ul>
						                        	</div>
						                        	<div class="bottom-content">
						                        		<h4><a href="#">It Contains:</a></h4>
						                        		<p>35% of organic raisins 55% of oats and 10% of butter. </p>
						                        	</div>
					                        	</div>
					                        </div>
						                </div>
					                </div>
					            </div>
					            
			        		</div>
			        	</div>

						<!-- _______________________ SIDEBAR ____________________ -->
	        			<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 sidebar_styleTwo">
	        				<div class="wrapper">
	        					<div class="sidebar_search">
	        						<form action="#">
	        							<input type="text">
	        							<button class="tran3s color1_bg"><i class="fa fa-search" aria-hidden="true"></i></button>
	        						</form>
	        					</div> <!-- End of .sidebar_styleOne -->

	        					<div class="sidebar_categories">
	        						<div class="theme_inner_title">
										<h4>Categories</h4>
									</div>
									<ul>
										<li><a href="" class="tran3s">Vegetables   (15)</a></li>
										<li><a href="" class="tran3s">Fruits & Drinks   (06)</a></li>
										<li><a href="" class="tran3s">Fresh Meat   (12)</a></li>
										<li><a href="" class="tran3s">Beauty Care   (14)</a></li>
									</ul>
	        					</div> <!-- End of .sidebar_categories -->

	        					<div class="price_filter wow fadeInUp">
									<div class="theme_inner_title">
										<h4>Filter By Price</h4>
									</div>
									<div class="single-sidebar price-ranger">
										<div id="slider-range"></div>
										<div class="ranger-min-max-block">
											<input type="submit" value="Filter">
											<span>Price:</span>
											<input type="text" readonly class="min"> 
											<span>-</span>
											<input type="text" readonly class="max">
										</div>
									</div> <!-- /price-ranger -->
								</div> <!-- /price_filter -->

								<div class="best_sellers clear_fix wow fadeInUp">
									<div class="theme_inner_title">
										<h4>popular products</h4>
									</div>

									<div class="best_selling_item clear_fix border">
										<div class="img_holder float_left">
											<img src="{% static 'ultimatefitbackend/images/shop/9.png' %}" alt="image">
										</div> <!-- End of .img_holder -->

										<div class="text float_left">
											<a href="shop-single.html"><h6>Turmeric Powder</h6></a>
											<ul>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<span>$ 15.00</span>
										</div> <!-- End of .text -->
									</div> <!-- End of .best_selling_item -->

									<div class="best_selling_item clear_fix border">
										<div class="img_holder float_left">
											<img src="{% static 'ultimatefitbackend/images/shop/10.png' %}" alt="image">
										</div> <!-- End of .img_holder -->

										<div class="text float_left">
											<a href="shop-single.html"><h6>Pure Jeans Coffee</h6></a>
											<ul>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<span>$ 34.00</span>
										</div> <!-- End of .text -->
									</div> <!-- End of .best_selling_item -->

									<div class="best_selling_item clear_fix">
										<div class="img_holder float_left">
											<img src="{% static 'ultimatefitbackend/images/shop/11.png' %}" alt="image">
										</div> <!-- End of .img_holder -->

										<div class="text float_left">
											<a href="shop-single.html"><h6>Columbia Chocolate</h6></a>
											<ul>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<span>$ 34.99</span>
										</div> <!-- End of .text -->
									</div> <!-- End of .best_selling_item -->
								</div> <!-- End of .best_sellers -->


								<div class="sidebar_tags wow fadeInUp">
	   								<div class="theme_inner_title">
										<h4>product Tags</h4>
									</div>

									<ul>
										<li><a href="#" class="tran3s">fruits</a></li>
										<li><a href="#" class="tran3s">Cosmetics</a></li>
										<li><a href="#" class="tran3s">Farmers</a></li>
										<li><a href="#" class="tran3s">Healthy</a></li>
										<li><a href="#" class="tran3s">Catering</a>  </li>
										<li><a href="#" class="tran3s">Chemical</a></li>
										<li><a href="#" class="tran3s">Post Format</a> </li>
										<li><a href="#" class="tran3s">Industry</a></li>
										<li><a href="#" class="tran3s">Research</a></li>
									</ul>
	   							</div> <!-- End of .sidebar_tags -->

	        				</div> <!-- End of .wrapper -->
	        			</div> <!-- End of .sidebar_styleTwo -->
	        		</div> <!-- End of .row -->
	        	</div> <!-- End of .container -->
	        </div> <!-- End of .shop_page -->

	        <!--<script src="{% static 'ultimatefitbackend/fullcalendar/lib/jquery.min.js' %}"></script>-->
			<script src="{% static 'ultimatefitbackend/fullcalendar/lib/moment.min.js' %}"></script>
			<script src="{% static 'ultimatefitbackend/fullcalendar/fullcalendar.js' %}"></script>
			<script src="{% static 'ultimatefitbackend/fullcalendar/locale-all.js' %}"></script>

			<!--<script>
				$('#cartDropdown-hover').hover(function() {
				    $(document).find('.cart_list').stop(true, true).delay(50).fadeIn(200);
				}, function() {
				    $(document).find('.cart_list').stop(true, true).delay(50).fadeOut(200);
				});

				$('.cart_list').hover(function() {
				    $(this).stop(true, true).delay(50).fadeIn(200);
				}, function() {
				    $(this).stop(true, true).delay(50).fadeOut(200);
				});
			</script>-->
			
			<script type="text/javascript">
				
				$(document).ready(function() {

					// page is now ready, initialize the calendar...

					$('#calendar').fullCalendar({
						// put your options and callbacks here
						locale: 'vi',
						header: { 
							left: 'prev,next today',
							center: 'title',
							//center: 'month,basicWeek,basicDay' 
							right: 'month,basicWeek,basicDay'
						}, // buttons for switching between views
						
						//contentHeight: 1000,
						//aspectRatio: 2,
						
						navLinks: true,
						navLinkDayClick: function(date, jsEvent) {
							console.log('day', date.format()); // date is a moment
							console.log('coords', jsEvent.pageX, jsEvent.pageY);
						},

						eventBackgroundColor: 'silver',
						eventBorderColor: 'silver',
							
						eventRender: function(event, element, view) {
							element.append(event.description);
						},

						// viewRender is more accurate than enventRender to render month
						viewRender: function(event, element, view) {
							if(view.type == 'month') {
								//console.log("month");
								//First remove event in week-day, then append event from month
								$("#calendar").fullCalendar('removeEvents');
								{% for menu in menus %}
								//console.log('{{menu.name}}');
						        var monthEvent = {
					                title: '{{menu.name}}',
									start: '{{menu.convertdate}}',
									description: '<a><img src="{{menu.image}}"  style="width:130px;height:90px;float:left;"></a>'
					            };
					            $('#calendar').fullCalendar('renderEvent', monthEvent, 'stick');
					            {% endfor %}
						    } else { 
					            //console.log("week or day");
					            //First remove event inmonth, then append event from week-day
					            $("#calendar").fullCalendar('removeEvents');
					            {% for food in foods %}
					            //console.log('{{food.convertdate_from_menu}}');
					            var weekEvent = {
					                title: window.currentLanguage=="en" ? '{{food.food_type.name}}' : '{{food.food_type.name_vn}}',
									start: '{{food.convertdate_from_menu}}',
									description: '<a><img src="{{food.food_type.image}}"  style="width:130px;height:90px;float:left;"></a>'
					            };
					            $('#calendar').fullCalendar('renderEvent', weekEvent, 'stick');
					            {% endfor %}
						    };
						},
						
						/*eventRender: function(event, eventElement) {
							if (event.imageurl) {
								eventElement.find("div.fc-content").prepend("<img src='" + event.imageurl +"' width='130' height='90'>");
							}
						},*/

						dayRender: function(date, cell) {
							cell.css("background-color", "silver");
						},
						eventClick: function(event, jsEvent, view) {
							if (view.type == 'month') {
								console.log(event.start._i);
							}
							$('#calendar').fullCalendar('changeView', 'basicDay')
							$('#calendar').fullCalendar('gotoDate', event.start._i);
						},
					});
				});
			</script>
			
			{% autoescape off %}
			<!--{% for food in foods %}
				<div class="modal__inner">
					<div id="openModal-{{food.name}}" class="modalDialog">
						<div style="overflow:hidden">
							<a href="#close" title="Close" class="close">X</a>
							<iframe width="100%" scrolling="no" frameborder="0" src="{% url 'ultimatefitbackend:food' food.id %}" onload="this.height=this.contentWindow.document.body.scrollHeight;" ></iframe>						
						</div>
					</div>
				</div>
			{% endfor %}-->
			<!--could replace iframe with the real simple product detail with add to cart, but have to make it short, in case this page maybe to long, can consider manual/auto delete data after a time-->
			
			<!--<div class="modal__inner" id="my_modal">
				<div class="modalDialog">
					<div style="overflow:hidden">
						<a href="#close" title="Close" class="close">X</a>
						<iframe width="100%" scrolling="no" frameborder="0" src="" onload="this.height=this.contentWindow.document.body.scrollHeight;" ></iframe>					
					</div>
				</div>
			</div>-->

			<div class="modal" id="my_modal" style="padding-top: 35px;">
			    <div class="modal-dialog modal-box-size">		    	
				    <div class="modal-content">
				        <div class="modal-header">
				            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				            <h4 class="modal-title">Modal header</h4>

				            <div>			        	
								<iframe width="100%" scrolling="no" frameborder="0" src="" onload="this.height=this.contentWindow.document.body.scrollHeight;" ></iframe>					
							</div>
				        </div>			        				
				        <!--<div class="modal-footer">
				            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>-->
				    </div>
			    </div>
			</div>

			<script>
			    $(document).on('show.bs.modal', '#my_modal', function(e) {
			        console.log("HII");
			        var foodId = $(e.relatedTarget).data('food-id');		        
			        $(e.currentTarget).find('h4[class="modal-title"]').html(foodId);
			        console.log(foodId);
			        console.log(typeof(foodId.toString()));

			        var modalId = $(e.relatedTarget).data('modal-id');
			        $(e.currentTarget).find('iframe').attr("src", modalId);
			    });
			    $(document).on('hidden.bs.modal', '#my_modal', function (e) {
				    
				});
			</script>
			{% endautoescape %}
	        {% endblock %}