{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Organic Store | Responsive HTML5 Template</title>
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="57x57" href="{% static 'ultimatefitbackend/images/fav-icon/apple-icon-57x57.png' %}">
		<link rel="apple-touch-icon" sizes="60x60" href="{% static 'ultimatefitbackend/images/fav-icon/apple-icon-60x60.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'ultimatefitbackend/images/fav-icon/apple-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'ultimatefitbackend/images/fav-icon/apple-icon-76x76.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'ultimatefitbackend/images/fav-icon/apple-icon-114x114.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'ultimatefitbackend/images/fav-icon/apple-icon-120x120.png' %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'ultimatefitbackend/images/fav-icon/apple-icon-144x144.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'ultimatefitbackend/images/fav-icon/apple-icon-152x152.png' %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'ultimatefitbackend/images/fav-icon/apple-icon-180x180.png' %}">
		<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'ultimatefitbackend/images/fav-icon/android-icon-192x192.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'ultimatefitbackend/images/fav-icon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static 'ultimatefitbackend/images/fav-icon/favicon-96x96.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'ultimatefitbackend/images/fav-icon/favicon-16x16.png' %}">


		<!-- Custom Css -->
		<link rel="stylesheet" type="text/css" href="{% static 'ultimatefitbackend/css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'ultimatefitbackend/css/responsive.css' %}">


		<!-- Fixing Internet Explorer ______________________________________-->

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
		<![endif]-->
	</head>



	<body>
		<div class="main_page cart">

			<!-- Menu ******************************* -->
			<div class="theme_menu color1_bg" style="position: fixed; width: 100%; z-index: 10;">
				<div class="container">
					<nav class="menuzord pull-left" id="main_menu">
					   <ul class="menuzord-menu">
					      <li><a href="{% url 'ultimatefitbackend:index' %}">Home</a></li>
					      <li><a href="{% url 'ultimatefitbackend:about' %}">About us</a></li>
					      <li><a href="#">store</a>
					      	<ul class="dropdown">
					            <li><a href="{% url 'ultimatefitbackend:shop' %}">Shop With Sidebar</a></li>
					            <li><a href="shop-single.html">Product Detail</a></li>
					            <li><a href="{% url 'ultimatefitbackend:cart' %}">Cart Page</a></li>
					            <li><a href="checkout.html">Checkout Page</a></li>
					            <li><a href="account.html">My Account</a></li>
					         </ul>
					      </li>
					      <li class="current_page">
					      	<a href="{% url 'ultimatefitbackend:cart' %}">My Cart</a>      	
					      </li>
					      <li><a href="#">News</a>
					      	<ul class="dropdown">
					            <li><a href="blog-Standard.html">News Standard</a></li>
					            <li><a href="blog-list-sidebar.html">News With Sidebar</a></li>
					            <li><a href="blog-grid.html">News Masonary</a></li>
					            <li><a href="blog-details.html">News Single</a></li>
					         </ul>
					      </li>
					      <li><a href="#">gallery</a>
					      	<ul class="dropdown">
					            <li><a href="gallery-grid.html">Gallery Grid</a></li>
                                <li><a href="gallery-masonry.html">Gallery Masonary</a></li>
                                <li><a href="gallery-single.html">Gallery Single</a></li>
					         </ul>
					      </li>

					      <li><a href="#">Pages</a>
					      	<ul class="dropdown">
					            <li><a href="{% url 'ultimatefitbackend:testimonials' %}">Testimonials</a></li>
					            <li><a href="{% url 'ultimatefitbackend:error' %}">404v page</a></li>
					            <li><a href="{% url 'ultimatefitbackend:faq' %}">FAQ</a></li>
					         </ul>
					      </li>
					      
					      <li><a href="{% url 'ultimatefitbackend:contact' %}">Contact us</a></li>
					   </ul> <!-- End of .menuzord-menu -->
				   </nav> <!-- End of #main_menu -->


				   <!-- ******* Cart And Search Option ******** -->
				   <div class="nav_side_content pull-right">
				   		<ul class="icon_header">
							<li class="border_round tran3s"><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li class="border_round tran3s"><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li class="border_round tran3s"><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li class="border_round tran3s"><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
				   </div> <!-- End of .nav_side_content -->
				     
			   </div> <!-- End of .conatiner -->
			</div> <!-- End of .theme_menu -->

			<!-- Header *******************************  -->
			<header style="margin-top: 70px;">
				<div class="top_header">
					<div class="container">
						<div class="pull-left header_left">
							<ul>
		        				<li><a href="#">Order On Phone: <span>+321 453 68 739</span></a></li>
		        				<li><i class="fa fa-envelope-o s_color" aria-hidden="true"></i><a href="#">organicstore@gmail.com</a></li>
		        			</ul>
						</div>

						<div class="pull-right header_right">
							<div class="state" id="value1">
								<ul>
			        				<li><i class="fa fa-user s_color" aria-hidden="true"></i><a href="#">Account</a></li>
			        				<li><i class="fa fa-heart s_color" aria-hidden="true"></i><a href="#">Whishlist </a></li>
			        				<li><i class="fa fa-truck s_color" aria-hidden="true"></i><a href="#">Whishlist</a></li>
			        			</ul>
			        			<div id="polyglotLanguageSwitcher">
									<form action="#">
										<select id="polyglot-language-options">
											<option id="en" value="en" selected>English</option>
											<option id="fr" value="fr">French</option>
											<option id="de" value="de">German</option>
											<option id="it" value="it">Italian</option>
											<option id="es" value="es">Spanish</option>
										</select>
									</form>
								</div>
							</div>

								
						</div>
					</div> <!-- End of .container -->
				</div> <!-- End of .top_header -->

				<div class="bottom_header">
					<div class="container">
						<div class="row">
							<div class="col-md-4 col-sm-12 col-xs-12">
								<div class="search-box">
									<form action="#" class="clearfix">
										<input type="text" placeholder="Search...">
										<button><i class="fa fa-search"></i></button>
									</form>
								</div>
							</div>
							<div class="col-md-4 col-sm-5 col-xs-6 logo-responsive">
								<div class="logo-area">
									<a href="index.html" class="pull-left logo"><img src="{% static 'ultimatefitbackend/images/logo/logo.png' %}" alt="LOGO"></a>
								</div>
							</div>
							<div class="col-md-4 col-sm-7 col-xs-6 pdt-14">
								<div class="login_option float_left">
							   		<div class="login_form">
							   			<div class="user">
							   				<i class="icon-photo"></i>
							   			</div>
							   			<div class="login-info">
								   			{% if request.user.is_authenticated %}
						
												<div class="welcome">Welcome, {% if request.user.first_name %}!
													{{ request.user.first_name }}
													{% else %}
													{{ request.user.username }}
													{% endif %}
												</div>
												<div><a href="{% url 'auth_logout' %}"><b>Log Out</b></a></div>
												
											{% else %}
												<div class="welcome">Welcome!</div>
												<!-- select menu -->
									            <form action="#" class="select-form" method="post">
							                        <div class="g-input f1 mb-30">
							                            <select class="text-capitalize selectpicker" data-style="g-select" data-width="100%" id="selectbox" name="" onchange="javascript:location.href = this.value;">
							                                <option value="#" selected="">Sign In</option>
							                                <option value="{% url 'auth_login' %}">Sign In</option>
							                                <option value="{% url 'registration_register' %}">Register Here</option>
							                            </select>
							                        </div>
							                    </form>
												<script type="text/javascript">
													window.onload = function(){
														location.href=document.getElementById("selectbox").value;
													}       
												</script>
											{% endif %}
								   		</div>
							   		</div> <!-- End of .cart_list -->
							    </div>
							    <div class="cart_option float_left">
							   		<button class="cart tran3s dropdown-toggle" id="cartDropdown"><i class="fa icon-icon-32846" aria-hidden="true"></i><span class="s_color_bg p_color">2</span></button>
							   		<div class="cart-info">
							   			<div>My Cart</div>
								   		<div class="doller">84.00$</div>
							   		</div>
								   		
							   		<div class="cart_list color2_bg" aria-labelledby="cartDropdown">
							   			<ul>
							   				<li>
							   					<div class="cart_item_wrapper clear_fix">
							   						<div class="img_holder float_left"><img src="{% static 'ultimatefitbackend/images/shop/9.png' %}" alt="Cart Image" class="img-responsive"></div> <!-- End of .img_holder -->

							   						<div class="item_deatils float_left">
							   							<h6>Turmeric Powde</h6>
							   							<ul>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
														</ul>
														<span class="font_fix">$ 34.99</span>
							   						</div> <!-- End of .item_deatils -->
							   					</div> <!-- End of .cart_item_wrapper -->
							   				</li>

							   				<li>
							   					<div class="cart_item_wrapper clear_fix">
							   						<div class="img_holder float_left"><img src="{% static 'ultimatefitbackend/images/shop/10.png' %}" alt="Cart Image" class="img-responsive"></div> <!-- End of .img_holder -->
							   						
							   						<div class="item_deatils float_left">
							   							<h6>Pure Jeans Coffee</h6>
							   							<ul>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
														</ul>
														<span class="font_fix">$ 26.99</span>
							   						</div> <!-- End of .item_deatils -->
							   					</div> <!-- End of .cart_item_wrapper -->
							   				</li>

							   				<li>
							   					<div class="cart_item_wrapper clear_fix">
							   						<div class="img_holder float_left"><img src="{% static 'ultimatefitbackend/images/shop/11.png' %}" alt="Cart Image" class="img-responsive"></div> <!-- End of .img_holder -->
							   						
							   						<div class="item_deatils float_left">
							   							<h6>Columbia Chocolate</h6>
							   							<ul>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
															<li><i class="fa fa-star" aria-hidden="true"></i></li>
														</ul>
														<span class="font_fix">$ 26.99</span>
							   						</div> <!-- End of .item_deatils -->
							   					</div> <!-- End of .cart_item_wrapper -->
							   				</li>
							   			</ul>

							   			<div class="cart_total clear_fix">

							   				<span class="total font_fix float_left">Total - 140$</span>
							   				<a href="#" class="s_color_bg float_right tran3s">View Cart</a>
							   			</div>
							   		</div> <!-- End of .cart_list -->
							    </div>

							</div>

						</div>

					</div>
				</div> <!-- End of .bottom_header -->
			</header>





			<!-- Menu ******************************* -->
			<!--<div class="theme_menu color1_bg">
				<div class="container">
					<nav class="menuzord pull-left" id="main_menu">
					   <ul class="menuzord-menu">
					      <li><a href="{% url 'ultimatefitbackend:index' %}">Home</a></li>
					      <li><a href="{% url 'ultimatefitbackend:about' %}">About us</a></li>
					      <li class="current_page"><a href="#">store</a>
					      	<ul class="dropdown">
					            <li><a href="{% url 'ultimatefitbackend:shop' %}">Shop With Sidebar</a></li>
					            <li><a href="shop-single.html">Product Detail</a></li>
					            <li><a href="{% url 'ultimatefitbackend:cart' %}">Cart Page</a></li>
					            <li><a href="checkout.html">Checkout Page</a></li>
					            <li><a href="account.html">My Account</a></li>
					         </ul>
					      </li>
					      <li><a href="#">News</a>
					      	<ul class="dropdown">
					            <li><a href="blog-Standard.html">News Standard</a></li>
					            <li><a href="blog-list-sidebar.html">News With Sidebar</a></li>
					            <li><a href="blog-grid.html">News Masonary</a></li>
					            <li><a href="blog-details.html">News Single</a></li>
					         </ul>
					      </li>
					      <li><a href="#">gallery</a>
					      	<ul class="dropdown">
					            <li><a href="gallery-grid.html">Gallery Grid</a></li>
                                <li><a href="gallery-masonry.html">Gallery Masonary</a></li>
                                <li><a href="gallery-single.html">Gallery Single</a></li>
					         </ul>
					      </li>

					      <li><a href="#">Pages</a>
					      	<ul class="dropdown">
					            <li><a href="{% url 'ultimatefitbackend:testimonials' %}">Testimonials</a></li>
					            <li><a href="{% url 'ultimatefitbackend:error' %}">404v page</a></li>
					            <li><a href="{% url 'ultimatefitbackend:faq' %}">FAQ</a></li>
					         </ul>
					      </li>
					      
					      <li><a href="{% url 'ultimatefitbackend:contact' %}">Contact us</a></li>
					   </ul> <!-- End of .menuzord-menu -->
				   <!--</nav> <!-- End of #main_menu -->


				   <!-- ******* Cart And Search Option ******** -->
				   <!--<div class="nav_side_content pull-right">
				   		<ul class="icon_header">
							<li class="border_round tran3s"><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li class="border_round tran3s"><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li class="border_round tran3s"><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li class="border_round tran3s"><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
				   </div> <!-- End of .nav_side_content -->
				     
			   <!--</div> <!-- End of .conatiner -->
			<!--</div>--> <!-- End of .theme_menu -->


			<section class="breadcrumb-area" style="background-image:url({% static 'ultimatefitbackend/images/background/2.jpg' %});">
			    <div class="container">
			        <div class="row">
			            <div class="col-md-12">
			                <div class="breadcrumbs text-center">
			                    <h1>Shopping Cart</h1>
			                    <h4>Welcome to certified online organic products suppliersr</h4>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="breadcrumb-bottom-area">
				    <div class="container">
				        <div class="row">
				            <div class="col-lg-8 col-md-5 col-sm-5">
				                <ul>
				                    <li><a href="#">Home</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li><a href="#">Gallery</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li>Shopping Cart</li> 
				                </ul>
				            </div>
				            <div class="col-lg-4 col-md-7 col-sm-7">
				                <p>We provide <span>100% organic</span> products</p>
				            </div>
				        </div>
				    </div>
				</div>
			    
			</section>


<!-- cart Table*************************** -->

	        <div class="shop_cart_table container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="table-responsive">
							<table class="table table-1">
								<tr>
									<th><span>Product</span></th>
									<th><span>Quantity</span></th>
									<th><span>Avalability</span></th>
									<th><span>Price</span></th>
									<th><span>Total</span></th>
									<th><span>Add/Remove</span></th>
								</tr>

								{% for item in cart %}
									<tr>
										<td class="flex_item clear_fix">
											<img src="{% static 'ultimatefitbackend/images/shop/9.png' %}" alt="images" class="float_left">
											<h6 class="float_left">{{ item.food.name }}</h6>
										</td>
										<td><input type="number" name="quantity" min="0" value="{{ item.quantity }}"></td>
										<td>
											<div class="icon_holder border_round">
												<i class="fa fa-check"></i>
											</div>
											<span class="item">Item(s) <br>Avilable Now</span>
										</td>
										<td><span>$ 25.99</span></td>
										<td><span class="color2">$ 25.99</span></td>
										<!--<td><input type="checkbox" style="vertical-align:-2px;"> <span style="padding-left:7px;">Remove</span></td>-->
										<td><span style="padding-left:7px;"><a href="{% url 'ultimatefitbackend:add_to_cart' item.food.id %}">[+]</a> / <a href="{% url 'ultimatefitbackend:remove_from_cart' item.food.id %}">[-]</a></span></td>
									</tr> <!-- /tr -->
								{% empty %}
									<div>
									<tr>There are no items in your cart.</tr>
									</div>
								{% endfor %}

							</table>
						</div> <!-- /table-responsive -->
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<input type="text" placeholder="Enter Coupon Code..." class="coupon">
						<button class="cart_btn1 tran3s color1_bg">Apply Coupon</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 cart_update" style="text-align:right;">
						<button class="cart_btn3 tran3s">Update Cart</button>
						<button class="cart_btn2 tran3s color1_bg">Proceed to Checkout</button>
					</div>
				</div> <!-- /row -->

				<div class="row shipping_address">
					<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 submit_form wow fadeInUp">
						<h4>Calculate Shipping</h4>
						<div class="row" style="margin-top:33px;">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<select class="selectmenu">
									<option selected="selected">United Kingdom (UK)</option>
									<option>United State (USA)</option>
									<option>France</option>
								</select>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 space-fix-right">
								<input type="text" placeholder="State / Country" required>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 space-fix-left">
								<input type="text" placeholder="Zip Code" required>
							</div>
						</div>
						<button class="cart_btn1 tran3s color1_bg">update Totals</button>
					</div>
					
					<div class="col-lg-6 col-md-6 col-sm-7 col-xs-12 wow fadeInUp">
						<h4>Cart Totals</h4>
						<div class="table-responsive">
							<table class="table table-2">
								<tbody>
									<tr>
										<td><span>Cart Subtotal</span></td>
										<td><span>$146.00</span></td>
									</tr>
									<tr>
										<td><span>Shipping and Handling</span></td>
										<td><span>Free Shipping</span></td>
									</tr>
									<tr>
										<td><span>Order Total</span></td>
										<td><span>$146.00</span></td>
									</tr>
								</tbody>
							</table>
						</div> <!-- /table-responsive -->
						<button class="cart_btn2 tran3s float_right color1_bg">Proceed to Checkout</button>
					</div>
				</div>
			</div> <!-- /cart_table -->






			<!-- Footer************************* -->
			<footer>
				<div class="main_footer">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer_logo">
								<a href="index.html"><img src="{% static 'ultimatefitbackend/images/logo/logo-2.png' %}" alt="Logo"></a>
								<p>Denouncing pleasures and praising pain was born and I will give you a complete account of the system.</p><p>Expound that actual teachings the great explorer of the truth, the master-builder of human happiness no one rejects, likes, or avoids pleasure itself rationally. </p>

								<a href="#" class="tran3s">buy theme</a>
						
							</div> <!-- End of .footer_logo -->

							<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer_news">
								<h5>recent post</h5>

								<div class="recent-posts">
									<div class="post">
			                            <div class="post-thumb"><a href="#"><img src="{% static 'ultimatefitbackend/images/blog/p1.jpg' %}" alt=""></a></div>
			                            <h4><a href="#">Control your cholestrol & fat in 2 weeks</a></h4>
			                            <div class="post-info"><i class="fa fa-clock-o"></i>08th Sep, 2015</div>
			                        </div>
									<div class="post">
			                            <div class="post-thumb"><a href="#"><img src="{% static 'ultimatefitbackend/images/blog/p2.jpg' %}" alt=""></a></div>
			                            <h4><a href="#">Control your cholestrol & fat in 2 weeks</a></h4>
			                            <div class="post-info"><i class="fa fa-clock-o"></i>08th Sep, 2015</div>
			                        </div>
			                        <div class="post">
			                            <div class="post-thumb"><a href="#"><img src="{% static 'ultimatefitbackend/images/blog/p3.jpg' %}" alt=""></a></div>
			                            <h4><a href="#">Control your cholestrol & fat in 2 weeks</a></h4>
			                            <div class="post-info"><i class="fa fa-clock-o"></i>08th Sep, 2015</div>
			                        </div>
								</div>
							</div> <!-- End of .footer_news -->

							<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer_subscribe">
								<h5>categoreis</h5>
								<ul class="list catagories">
		                            <li><a href="#"><i class="fa fa-angle-right"></i>Arable & Postoral Farmers</a></li>
		                            <li><a href="#"><i class="fa fa-angle-right"></i>Become a Member</a></li>
		                            <li><a href="#"><i class="fa fa-angle-right"></i>Shop Our Prodcuts</a></li>
		                        </ul>
		                        <div class="widget popular-tags">
			                        <div class="sidebar-title"><h5>tags</h5></div>
			                        
			                        <a href="#">Fruits</a>
			                        <a href="#">Cosmetics</a>
			                        <a href="#">Farmers</a>
			                        <a href="#">Healthy</a>
			                        <a href="#">Catering</a>                     
			                        <a href="#">Post Format</a>                                         
			                    </div>
							</div> <!-- End of .footer_subscribe -->


							<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer_contact">
								<h5>Get In Touch</h5>
								<ul class="list catagories">
		                            <li><a href="#"><i class="fa fa-envelope"></i>Organic store@gmail.com</a></li>
		                            <li><a href="#"><i class="fa fa-phone"></i>+91 (321) 758 142 5698</a></li>
		                            <li><a href="#"><i class="fa fa-home"></i>No 271, Red Cross Building, Modern Street, Newyork City, USA.</a></li>
		                        </ul>

		                        <h5>Business Hours</h5>
								<div class="list Business">
		                            <p>Monday - Friday: 09.00am to 07.00pm <br>Saturday: 10.00am to 05.00pm <br>Sunday: <span>Closed</span></p>
		                        </div>
		                        
							</div> <!-- End of .footer_contact -->
						</div>
					</div>
				</div> <!-- End of .main_footer -->

				<div class="bottom_footer clear_fix">
					<div class="container">
						<h6 class="pull-left">Copyrights © 2015 All Rights Reserved by<a href="http://themeforest.net/user/steelthemes/portfolio" target="_blank">Steelthemes</a></h6>
						<ul class="social_icon pull-right">
							<li><a href="" class="tran3s"><i class="fa fa-cc-visa" aria-hidden="true"></i></a></li>
							<li><a href="" class="tran3s"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a></li>
							<li><a href="" class="tran3s"><i class="fa fa-paypal" aria-hidden="true"></i></a></li>
							<li><a href="" class="tran3s"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></a></li>
							<li><a href="" class="tran3s"><i class="fa fa-cc-discover" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</footer>


			<!-- Scroll Top Button -->
			<button class="scroll-top tran3s color2_bg">
				<span class="fa fa-angle-up"></span>
			</button>
			<!-- pre loader  -->
		 	<div id="loader-wrapper">
				<div id="loader"></div>
			</div>
	



<!-- Js File_________________________________ -->

		<!-- j Query -->
		<script type="text/javascript" src="{% static 'ultimatefitbackend/js/jquery-2.1.4.js' %}"></script>
		<!-- Bootstrap JS -->
		<script type="text/javascript" src="{% static 'ultimatefitbackend/js/bootstrap.min.js' %}"></script>

		<!-- Vendor js _________ -->
		<!-- Google map js -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRvBPo3-t31YFk588DpMYS6EqKf-oGBSI"></script> <!-- Gmap Helper -->
		<script src="{% static 'ultimatefitbackend/js/gmap.js' %}"></script>
		<!-- owl.carousel -->
		<script type="text/javascript" src="{% static 'ultimatefitbackend/js/owl.carousel.min.js' %}"></script>
		<!-- ui js -->
		<script type="text/javascript" src="{% static 'ultimatefitbackend/js/jquery-ui.min.js' %}"></script>
		<!-- Responsive menu-->
		<script type="text/javascript" src="{% static 'ultimatefitbackend/js/menuzord.js' %}"></script>
		<!-- revolution -->
		<script src="{% static 'ultimatefitbackend/vendor/revolution/jquery.themepunch.tools.min.js' %}"></script>
		<script src="{% static 'ultimatefitbackend/vendor/revolution/jquery.themepunch.revolution.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'ultimatefitbackend/vendor/revolution/revolution.extension.slideanims.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'ultimatefitbackend/vendor/revolution/revolution.extension.layeranimation.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'ultimatefitbackend/vendor/revolution/revolution.extension.navigation.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'ultimatefitbackend/vendor/revolution/revolution.extension.kenburn.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'ultimatefitbackend/vendor/revolution/revolution.extension.actions.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'ultimatefitbackend/vendor/revolution/revolution.extension.parallax.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'ultimatefitbackend/vendor/revolution/revolution.extension.migration.min.js' %}"></script>

		<!-- landguage switcher js -->
		<script type="text/javascript" src="{% static 'ultimatefitbackend/js/jquery.polyglot.language.switcher.js' %}"></script>
		<!-- Fancybox js -->
		<script type="text/javascript" src="{% static 'ultimatefitbackend/js/jquery.fancybox.pack.js' %}"></script>
		<!-- js count to -->
		<script type="text/javascript" src="{% static 'ultimatefitbackend/js/jquery.appear.js' %}"></script>
		<script type="text/javascript" src="{% static 'ultimatefitbackend/js/jquery.countTo.js' %}"></script>
		<!-- WOW js -->
		<script type="text/javascript" src="{% static 'ultimatefitbackend/js/wow.min.js' %}"></script>

		<script type="text/javascript" src="{% static 'ultimatefitbackend/js/SmoothScroll.js' %}"></script>

		<script src="{% static 'ultimatefitbackend/js/bootstrap-select.min.js' %}"></script>
		<script src="{% static 'ultimatefitbackend/js/jquery.mixitup.min.js' %}"></script>
		<!-- Theme js -->
		<script type="text/javascript" src="{% static 'ultimatefitbackend/js/theme.js' %}"></script>
		<script type="text/javascript" src="{% static 'ultimatefitbackend/js/google-map.js' %}"></script>


		</div> <!-- End of .main_page -->
	</body>
</html>