{% extends 'base.html' %}

{% load static %}

			{% block content %}
			<section class="breadcrumb-area" style="background-image:url({% static 'ultimatefitbackend/images/background/2.jpg' %});">
			    <div class="container">
			        <div class="row">
			            <div class="col-md-12">
			                <div class="breadcrumbs text-center">
			                    <h1>testimonials</h1>
			                    <h4>Welcome to certified online organic products suppliersr</h4>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="breadcrumb-bottom-area">
				    <div class="container">
				        <div class="row">
				            <div class="col-lg-8 col-md-5 col-sm-5">
				                <ul>
				                    <li><a href="#">Home</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li><a href="#">Gallery</a></li>
				                    <li><a href=""><i class="fa fa-angle-right"></i></a></li>
				                    <li>testimonials</li> 
				                </ul>
				            </div>
				            <div class="col-lg-4 col-md-7 col-sm-7">
				                <p>We provide <span>100% organic</span> products</p>
				            </div>
				        </div>
				    </div>
				</div>
			    
			</section>



		    <!--Testimonials Section-->
		    <section class="testimonials-section single_testimonial">
		        <div class="container">

		            <div class="row">
		            	<div class="col-md-4 col-sm-6 col-xs-12">
		            		<!--Slide Item-->
			                <div class="slide-item">
			                	<div class="inner-box">
			                        <div class="content">
			                        	<div class="text-bg">
				                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
				                        	<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>                 		
			                        	</div>
			                            <div class="info clearfix">
			                            	<div class="author-thumb"><img src="{% static 'ultimatefitbackend/images/team/a1.png' %}" alt=""></div>
			                                <div class="author">William Border</div>
			                                <div class="author-title">Designer</div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		            	</div>
		            	<div class="col-md-4 col-sm-6 col-xs-12">
		            		<!--Slide Item-->
			                <div class="slide-item">
			                	<div class="inner-box">
			                        <div class="content">
			                        	<div class="text-bg">
				                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
				                        	<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>                 		
			                        	</div>
			                            <div class="info clearfix">
			                            	<div class="author-thumb"><img src="{% static 'ultimatefitbackend/images/team/a2.png' %}" alt=""></div>
			                                <div class="author">Jessy Federar</div>
			                                <div class="author-title">Cor.Manager</div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		            	</div>
		            	<div class="col-md-4 col-sm-6 col-xs-12">
		            		<!--Slide Item-->
			                <div class="slide-item">
			                	<div class="inner-box">
			                        <div class="content">
			                        	<div class="text-bg">
				                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
				                        	<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>                 		
			                        	</div>
			                            <div class="info clearfix">
			                            	<div class="author-thumb"><img src="{% static 'ultimatefitbackend/images/team/a3.png' %}" alt=""></div>
			                                <div class="author">Mark Antony</div>
			                                <div class="author-title">Designer</div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		            	</div>
		            	<div class="col-md-4 col-sm-6 col-xs-12">
		            		<!--Slide Item-->
			                <div class="slide-item">
			                	<div class="inner-box">
			                        <div class="content">
			                        	<div class="text-bg">
				                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
				                        	<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>                 		
			                        	</div>
			                            <div class="info clearfix">
			                            	<div class="author-thumb"><img src="{% static 'ultimatefitbackend/images/team/a1.png' %}" alt=""></div>
			                                <div class="author">William Border</div>
			                                <div class="author-title">Designer</div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		            	</div>
		            	<div class="col-md-4 col-sm-6 col-xs-12">
		            		<!--Slide Item-->
			                <div class="slide-item">
			                	<div class="inner-box">
			                        <div class="content">
			                        	<div class="text-bg">
				                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
				                        	<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>                 		
			                        	</div>
			                            <div class="info clearfix">
			                            	<div class="author-thumb"><img src="{% static 'ultimatefitbackend/images/team/a2.png' %}" alt=""></div>
			                                <div class="author">Jessy Federar</div>
			                                <div class="author-title">Cor.Manager</div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		            	</div>
		            	<div class="col-md-4 col-sm-6 col-xs-12">
		            		<!--Slide Item-->
			                <div class="slide-item">
			                	<div class="inner-box">
			                        <div class="content">
			                        	<div class="text-bg">
				                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
				                        	<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>                 		
			                        	</div>
			                            <div class="info clearfix">
			                            	<div class="author-thumb"><img src="{% static 'ultimatefitbackend/images/team/a3.png' %}" alt=""></div>
			                                <div class="author">Mark Antony</div>
			                                <div class="author-title">Designer</div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		            	</div>
		            	<div class="col-md-4 col-sm-6 col-xs-12">
		            		<!--Slide Item-->
			                <div class="slide-item">
			                	<div class="inner-box">
			                        <div class="content">
			                        	<div class="text-bg">
				                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
				                        	<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>                 		
			                        	</div>
			                            <div class="info clearfix">
			                            	<div class="author-thumb"><img src="{% static 'ultimatefitbackend/images/team/a1.png' %}" alt=""></div>
			                                <div class="author">William Border</div>
			                                <div class="author-title">Designer</div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		            	</div>
		            	<div class="col-md-4 col-sm-6 col-xs-12">
		            		<!--Slide Item-->
			                <div class="slide-item">
			                	<div class="inner-box">
			                        <div class="content">
			                        	<div class="text-bg">
				                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
				                        	<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>                 		
			                        	</div>
			                            <div class="info clearfix">
			                            	<div class="author-thumb"><img src="{% static 'ultimatefitbackend/images/team/a2.png' %}" alt=""></div>
			                                <div class="author">Jessy Federar</div>
			                                <div class="author-title">Cor.Manager</div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		            	</div>
		            	<div class="col-md-4 col-sm-6 col-xs-12">
		            		<!--Slide Item-->
			                <div class="slide-item">
			                	<div class="inner-box">
			                        <div class="content">
			                        	<div class="text-bg">
				                            <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
				                        	<div class="text">Who do not know how to pursue an sed pleasure rationally encounter that are extremely win painful nor again is there anyone who loves or pursues or desires obtain pain itself circumstances.</div>                 		
			                        	</div>
			                            <div class="info clearfix">
			                            	<div class="author-thumb"><img src="{% static 'ultimatefitbackend/images/team/a3.png' %}" alt=""></div>
			                                <div class="author">Mark Antony</div>
			                                <div class="author-title">Designer</div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		            	</div>


		            </div>
		        </div>
		    </section>
			{% endblock %}
